<button 
  class="pointer w4 pa2 f5 ttu {{if @selected "bg-light-blue black" (if @tab "bg-yellow black" "bg-dark-gray yellow") }}"
  title={{@label}}
  ...attributes
>
  {{#if hasBlock}}
    {{yield}}
  {{else}}
    {{@label}}
  {{/if}}
</button>