{{!-- template-lint-disable require-button-type --}}
{{!-- setting type="button" here doesn't work when type="submit" passed from above--}}
<button 
  class="pv2 ph3 ttc bw1 {{unless @restyle "bg-dark-gray yellow ba b--yellow"}}"
  title={{@label}}
  ...attributes
>
  {{#if (has-block)}}
    {{yield}}
  {{else}}
    {{@label}}
  {{/if}}
</button>