<button 
  class="button-primary pv2 ph3 f6 ttu bw1 {{unless @restyle "bg-dark-gray yellow ba b--yellow"}}"
  title={{@label}}
  ...attributes
>
  {{#if hasBlock}}
    {{yield}}
  {{else}}
    {{@label}}
  {{/if}}
</button>