<div class="channel-strip-w flex flex-column justify-between shrink-0 items-center ba pv3 tc ph2" ...attributes>
  <h4 class="f7 mv0">channel strip</h4>
  <TrackControlWrapper
    @hideConfig={{true}}
    @hideInterfaceMenu={{true}}
    @trackControl={{@channelStripGainControl}}
    @wrapperStyleClass="flex flex-column items-center"
  >
    <NexusSlider 
      @value={{@channelStripGainControl.controlValue}}
      @min={{@channelStripGainControl.min}}
      @max={{@channelStripGainControl.max}}
      @defaultValue={{@channelStripGainControl.defaultValue}}
      @onChangeValue={{fn @updateValue @channelStripGainControl}}
    />
  </TrackControlWrapper>

  <TrackControlWrapper
    @hideConfig={{true}}
    @hideInterfaceMenu={{true}}
    @trackControl={{@channelStripPannerControl}}
    @wrapperStyleClass="flex flex-column"
  >
    <NexusSlider 
      @value={{@channelStripPannerControl.controlValue}}
      @min={{@channelStripPannerControl.min}}
      @max={{@channelStripPannerControl.max}}
      @size={{array 80 20}}
      @defaultValue={{@channelStripPannerControl.defaultValue}}
      @onChangeValue={{fn @updateValue @channelStripPannerControl}}
    />
  </TrackControlWrapper>
</div>