<div ...attributes>
  {{yield}}
  <p class="fw6">{{@track.id}}</p>
  <div class="flex bg-light-gray pa4">
    {{#each @track.trackNodes as |trackNode idx|}}
      <div class="tc mh3">
        {{trackNode.nodeType}}
        {{#each trackNode.trackControls as |trackControl|}}
          <div>
            {{component (concat "nexus-" trackControl.interfaceName) }}
            <p class="tc">{{trackControl.nodeAttr}}</p>
          </div>
        {{/each}}
      </div>
    {{/each}}
  </div>
</div>