<button 
  class="link bn dropdown-btn" 
  {{on "click" this.toggleOpen}}
  {{did-insert (fn this.setPosition)}}
  ...attributes
>
  {{svg-jar "fi-dots" width="10px" height="20px"}}
</button>

{{#if this.open}}
  {{#ember-wormhole to="dropdown-target"}}
    <ul
      class="dropdown-menu absolute ma3 bg-white flex flex-column list pa0 mao {{if this.open "shadow-2"}}"
      {{did-insert this.addPositionClass}}
    >
      {{#each @items as |item|}}
        <li>
          <button title={{item.label}} {{on "click" item.select}}>
            {{item.label}}
          </button>
        </li>
      {{/each}}
    </ul>
    {{yield}}
    <div class="scrim absolute bg-transparent" {{on "click" (fn this.toggleOpen)}}></div>
  {{/ember-wormhole}}
{{/if}}