<BasicDropdown as |dd|>
  <dd.Trigger ...attributes>
    <span class='caret'></span>
    {{#if (has-block)}}
      {{yield}}
    {{else}}
      {{svg-jar
        (or @icon 'fi-dots')
        class=(or @iconClass 'dark-fill')
        width='16px'
        height='40px'
      }}
    {{/if}}
  </dd.Trigger>

  <dd.Content class=''>
    <ul class="list pl0 ma0">
      {{#each @items as |item|}}
        <li>
          <button
            class='bg-light-gray bn w-100 ph3 pv2'
            type='button'
            title={{item.label}}
            {{on 'click' (fn this.onSelectItem item.select)}}
          >
            {{item.label}}
          </button>
        </li>
      {{/each}}
    </ul>
  </dd.Content>
</BasicDropdown>