<button 
  class="dropdown-menu-btn bn" 
  {{on "click" this.toggleOpen}}
  {{did-insert (fn this.setPosition)}}
  ...attributes
>
  {{#if (has-block)}}
    {{yield}}
  {{else}}
    {{svg-jar "fi-dots" class="light-fill" width="16px" height="40px"}}
  {{/if}}
</button>
{{#if this.open}}
  {{#ember-wormhole to="dropdown-target"}}
    <ul
      class="dropdown-menu absolute ma3 bg-white flex flex-column list pa0 mao {{if this.open "shadow-2"}}"
      {{did-insert this.addPositionClass}}
    >
      {{#each @items as |item|}}
        <li>
          <button class="bg-light-gray bn w-100 ph2 pv1" title={{item.label}} {{on "click" (fn this.onSelectItem item.select)}}>
            {{item.label}}
          </button>
        </li>
      {{/each}}
    </ul>
    <div class="scrim absolute bg-transparent" {{on "click" (fn this.toggleOpen)}}></div>
  {{/ember-wormhole}}
{{/if}}