<ResponsiveModal class="relative">
  <div class="ma3 pa3 ">
    <Input placeholder="search drumserver" @key-down={{fn this.search}} @value={{this.searchQuery}}/>
    {{#if showSearchResults}}
      <button {{on "click" (fn this.backToBrowse)}}> ← browse </button>
      <div class="flex flex-column mv3">
        {{#each this.searchResults as |result|}}
          <FileSearchResult @result={{result}} @onSelect={{fn this.onSelectSearchResult result}}/>
        {{/each}}
      </div>
      <SearchPagination 
        class="mv2"
        @currentPage={{this.currentPage}} 
        @lastPage={{this.lastPage}}
        @search={{fn this.search this.searchQuery}}
      />
    {{else}}
      <div class="flex">
        {{#each this.directories as |directory idx|}}
          <FileDirectory
            @directory={{directory}}
            @filepath={{this.track.filepath}}
            @idx={{idx}}
            @onSelect={{this.onSelect}}
          />
        {{/each}}
      </div>
    {{/if}}
  </div>
  {{#if (or @saveTrackTask.isRunning this.fetchDirectory.isRunning)}}
    <ProgressBar class="absolute bottom-0 right-0" />
  {{/if}}
</ResponsiveModal>