
  <div class="ph3 pv4 flex flex-wrap justify-between">
    <Input 
      class="grow-1 white bg-dark-gray f5 pa3 " 
      placeholder="search for drum sounds"  
      @key-down={{fn this.search}} @value={{this.searchQuery}}
    />
    {{#if showSearchResults}}
      <ButtonPrimary {{on "click" (fn this.backToBrowse)}} @label="â† browse"/> 
    {{/if}}
  </div>
  {{#if showSearchResults}}
    <div class="flex flex-column mv3 justify-between file-search-height">
      <ul class="flex flex-column shrink-1 grow-1 list h-100 overflow-scroll ma0 ph3">
        {{#each this.searchResults as |result|}}
          <FileSearchResult
            @selected={{eq @track.filepath result}}
            @result={{result}} 
            @onSelect={{fn this.onSelectSearchResult result}}
          />
        {{/each}}
      </ul>
      <SearchPagination 
        class="pv2 grow-1"
        @currentPage={{this.currentPage}} 
        @lastPage={{this.lastPage}}
        @search={{fn this.search this.searchQuery}}
      />
    </div>
  {{else}}
    <div class="flex project-tracks-height overflow-x-scroll w-100 pa3">
      {{#each this.directories as |directory idx|}}
        <div class="flex flex-column min-w-4 mr2">
          <h4 class="black w-100 mv3 mb0 pl1 yellow">
            {{if (eq directory.type "audio") "Sounds" "Drum Machine"}}
          </h4>
          <FileDirectory
            {{on "click" (fn this.selectDir idx)}}
            class="h-100 overflow-scroll"
            @selected={{eq this.selectedDir idx}}
            @directory={{directory}}
            @filepath={{this.track.filepath}}
            @idx={{idx}}
            @onSelect={{this.onSelect}}
          />
        </div>
      {{/each}}
    </div>
  {{/if}}
  {{#if (or @saveTrackTask.isRunning this.fetchDirectory.isRunning)}}
    <ProgressBar class="absolute bottom-0 right-0" />
  {{/if}}
