<div class='flex flex-wrap justify-between drum-file-picker ph3 mt3'>
  {{yield}}
  <Input
    aria-label='Search for Drum Sounds'
    class='ba bw2 b--yellow grow-1 white bg-dark-gray f5 pa3'
    placeholder='Search for drums sounds'
    @value={{this.searchQuery}}
     {{on 'keyup' this.search}} 
  />
  {{#if this.searchResults.length}}
    <ButtonPrimary {{on 'click' this.backToBrowse}} @label='â† browse' />
  {{/if}}
</div>

{{#if this.searchResults.length}}
  <div
    class='flex justify-between flex-column mv3 file-search-height overflow-scroll'
  >
    <ul
      class='flex flex-column shrink-1 grow-1 list ma0 ph3'
    >
      {{#each this.searchResults as |result|}}
        <FileSearchResultDirectory
          @track={{@track}}
          @result={{result}}
          @onSelect={{this.onSelectSearchResult}}
        />
      {{/each}}
    </ul>
    <SearchPagination
      class='pv2 grow-1'
      @currentPage={{this.currentPage}}
      @lastPage={{this.lastPage}}
      @search={{fn this.search this.searchQuery}}
    />
  </div>
{{else}}
  <div class='flex overflow-x-scroll w-100 pa3 file-search-height'>
    {{#each @audioFileTreeModel.directoryTree as |directory idx|}}
      <div class='flex w-auto flex-column mr2'>
        <h4 class='black w-100 mv3 mb0 pl1 yellow'>
          {{if (eq directory.type 'audio') 'Sounds' 'Drum Machine'}}
        </h4>
        <FileDirectory
          class='overflow-scroll h-100'
          @onSelectItem={{this.onSelectItem}}
          @directory={{directory}}
          @filepath={{@track.filepath}}
          @idx={{idx}}
        />
      </div>
    {{/each}}
  </div>
{{/if}}
{{#if this.searchTask.isRunning}}
  <ProgressBar class='absolute bottom-0 right-0' />
{{/if}}