<form class='flex items-end' {{on 'submit' this.save}}>
  {{#if this.isEditing}}
    <div>
      <label class='flex f7 flex-column'>
        {{@label}}
        <Input
          autofocus={{true}}
          class='f4'
          name={{@key}}
          placeholder='Enter a Project Title'
          {{on 'keydown' this.onKey}}
          @value={{@value}}
        />
      </label>
    </div>
  {{else}}
    <button
      class='bg-transparent bn'
      type='button'
      {{on 'click' this.toggleEdit}}
    >
      <p ...attributes>{{@value}}</p>
    </button>
  {{/if}}

  {{#if this.isEditing}}
    <button
      class='bg-transparent ml1 mb1 bn'
      type='button'
      {{on 'click' this.save}}
    >✔</button>
  {{/if}}
</form>