<div class="relative"
  {{did-insert (fn this.setSelectedFromUrl) @filepath}}
  {{did-update (fn this.setSelectedFromUrl) @filepath}}
  ...attributes
>
  <ul class="list ph0 mt0 mr3 h-100">
    {{#each @directory.choices as |choice|}}

      <li class="{{if (eq choice this.selected) "bg-yellow dark-gray" "bg-dark-gray yellow"}} {{if this.shouldScrollTo "scroll-to"}}"  {{!-- FIXME this.shouldScrollTo is added as a class to trigger re-run of method  --}}
        {{did-update (fn this.scrollIntoView (eq choice this.shouldScrollTo)) @directory}}
      >
        <a class="pl3 w-100 tl db ph1 pv2 truncate" 
          {{on "click" (fn this.selectItem @directory choice)}} 
          role="button"
        >
          {{#if (eq @directory.type "audio")}}
            {{filename-ui choice}}
          {{else}}
            {{choice}}
          {{/if}}
        </a>
      </li>
    {{/each}}
  </ul>
</div>