<div class='flex items-center mv3'>
  <h4 class='ma0 w-75 pl1 yellow underline'>{{@result.folder}}</h4>
  {{#if (gt @result.files.length this.limit)}}
    <button
      class='overflow-hidden bg-transparent pa0 bn right-1 mt2'
      type='button'
      {{on 'click' this.toggleTruncated}}
    >
      {{svg-jar
        'fi-play'
        class=(concat 'light-fill ' (if this.truncated 'rotate-0' 'rotate-90'))
        width='16px'
        height='20px'
      }}
    </button>
  {{/if}}
</div>
{{#each (if this.truncated this.truncatedFiles @result.files) as |file|}}
  <FileSearchResult
    @selected={{eq @track.filePathRelative file.path}}
    @file={{file}}
    @onSelect={{fn @onSelect file.path}}
  />
{{/each}}