<div class='relative' ...attributes>
  <ul class='list ph0 mt0 mr3 h-100'>
    {{#each @directory.choices as |choice idx|}}
      <ListItem @scrollBehavior={{this.scrollBehavior}} @selected={{eq @directory.currentDirIdx idx}}>
        <ListItemLink {{on 'click' (fn this.selectItem @directory choice)}}>
          {{#if (eq @directory.type 'audio')}}
            {{filename-ui choice}}
          {{else}}
            {{choice}}
          {{/if}}
        </ListItemLink>
      </ListItem>
    {{/each}}
  </ul>
</div>