{{yield}}
<button class="tl" {{on "click" (fn @onSelect)}} {{did-insert this.renderParts}}>
  {{#each parentDirs as |dir|}}
    {{dir}} /
  {{/each}}

  {{#if file}}
    {{filename-ui file}}
  {{/if}}
</button>