<div class="relative"
  {{did-insert (fn this.setSelectedFromUrl) @filepath}}
  {{did-update (fn this.setSelectedFromUrl) @filepath}}
  ...attributes
>
  <ul class="list ph0 mt0 mr3 h-100">
    {{#each @directory.choices as |choice|}}

      {{!-- FIXME this.shouldScrollTo is added as a class to trigger re-run of method  --}}
      <ListItem 
        @selected={{eq choice this.selected}}
        @shouldScrollTo={{this.shouldScrollTo}}
        {{did-update (fn this.scrollIntoView (eq choice this.shouldScrollTo)) @directory}}
      >
        <DirectoryItemLink {{on "click" (fn this.selectItem @directory choice)}} >
          {{#if (eq @directory.type "audio")}}
            {{filename-ui choice}}
          {{else}}
            {{choice}}
          {{/if}}
        </DirectoryItemLink>
      </ListItem>
    {{/each}}
  </ul>
</div>