<ul class="list ph0 mt0 mr3 h-100">
  {{#each @presetCollections as |coll|}}
    <ListItem class="pv2">
      {{coll.title}}
    </ListItem>
    <ul class="pl0 list">
      {{#each coll.presets as |preset|}}
        <ListItem
          class="pl3"
          @selected={{eq preset.id this.selectedPreset.id}}
        >
          <ListItemLink {{on "click" (fn this.selectItem preset)}} >
            {{preset.title}}
          </ListItemLink>
        </ListItem>
      {{/each}}
    </ul>
  {{/each}}
</ul>

{{!-- TODO: dedupe these buttons from signal chain creator footer buttons --}}
<div class="pv3">

  <SidebarSubmitButton
    title="Select preset and apply to track"
    @disabled={{not this.canSubmit}}
    {{on "click" this.applyPreset}}
  >
    Select Preset
  </SidebarSubmitButton>
  
  <ButtonPrimary
    class="light-gray b--light-gray bg-dark-gray"
    @restyle={{true}}
    {{on "click" @closeMenu}}
    title="Generate Init Code"
  >
    Cancel
  </ButtonPrimary>
</div>