<div class="variables-overlay bg-dark-gray ph3 z-5 yellow overflow-scroll bw2 bt bl b--yellow absolute right-0 {{if this.isCollapsed "bottom-0" "h-100"}}"
  {{did-insert this.setDefaultUi}} 
  ...attributes
>  
  <h4 class="yellow mt3 mb0 {{if isCollapsed "pb3 cursor"}}" {{on "click" this.toggleCollapsed}}>{{@title}} reference</h4>
  <div>
    {{#unless this.isCollapsed}}
      <TabMenu
        class="mv3"
        @onSelect={{fn this.setUi "visibleNodeIdx"}}
        @selectedValue={{this.defaultTab}}
        @items={{this.tabItems}}
        @selectedValue={{this.visibleNodeIdx}}
      />
    {{/unless}}
    <IconButton 
      class="absolute right-0 top-0 overflow-hidden"
      @icon="fi-play"
      @iconClass={{concat "light-fill " (if this.isCollapsed "rotate-270"  "rotate-90")}}
      {{on "click" this.toggleCollapsed}}
    />
  </div>

  {{#unless this.isCollapsed}}
    {{#if (and @validTrackNodes (eq this.ui "selectors"))}}
      <SelectorsList @selectorsForNode={{this.selectorsForNode}} />
    {{/if}}

    {{#if (eq this.ui "variables")}}
      <table>
        {{#each this.scriptVars key="name" as |scriptVar|}}
          <tr>
            <td class="code mv1">{{scriptVar.name}}</td>
            <td class="f6 mv0">{{scriptVar.description}}</td>
          </tr>
        {{/each}}
      </table>
    {{/if}}

    {{#if (eq this.ui "docs")}}
      {{#if (and @nodeDocs this.currentNode.nodeType)}}
        <CrackedNodeDocs @nodeName={{this.currentNode.nodeType}}/>
      {{/if}}
    {{/if}}
  {{/unless}}
</div>