<div class='relative h-100' ...attributes>

  <div
    class='h-100'
    {{codemirror
      (add @scriptModel.id this.renderFlag)
      @scriptModel.editorContent
      (perform @scriptModel.updateScriptTask 'editorContent')
    }}
  ></div>

</div>
<div class='flex flex-column'>
  <div class='flex justify-between grow-1 mb3'>
    <div>
      <SidebarSubmitButton
        class='mt3 f4 w4'
        title={{if
          this.functionIsLoaded
          'This script is loaded and running'
          'Click to load this script'
        }}
        @disabled={{this.functionIsLoaded}}
        {{on 'click' (perform @scriptModel.runCode)}}
      >
        {{#if (or this.functionIsLoaded this.runCode.isRunning)}}
          Running
        {{else}}
          Run
        {{/if}}
      </SidebarSubmitButton>
      {{#if this.functionIsLoaded}}
        <ButtonPrimary
          {{on 'click' this.disableScript}}
          class='dark-red b--dark-red bg-dark-gray mt3 f4'
          @restyle={{true}}
          title='Disable this script. Nodes will be removed and disconnected from the sequencer.'
        >disable</ButtonPrimary>
      {{else}}
        {{#if this.canRevert}}
          <ButtonPrimary
            class='light-gray b--light-gray bg-dark-gray mt3 f4'
            @restyle={{true}}
            {{on 'click' this.discardChanges}}
            title='Revert editor to currently running code'
          >
            revert
          </ButtonPrimary>
        {{/if}}
      {{/if}}
    </div>
    {{yield}}
  </div>

  <div class='flex'>
    {{#if @scriptModel.alert}}
      <p
        class='bg-dark-red pa3 mv2 white w-100'
        data-track={{@scriptModel.track.order}}
      >{{@scriptModel.alert}}</p>
    {{/if}}

    {{#if this.illegalTokens}}
      <p class='flex items-center mv0 yellow'>
        Remove unsupported keywords:
        {{this.illegalTokens}}
      </p>
    {{/if}}
  </div>
</div>