<div class="flex flex-column grow-1 mh3 relative script-wrapper-height">
  <div class="flex justify-between">
    <TabMenu
      @onSelect={{fn this.setUi}}
      @selectedValue={{"init"}}
      @items={{compact (array 
        (hash label="setup" value="init" beacon=@track.initScript.alert)
        (if @track.onstepScript (hash label="modulate" value="onstep" beacon=@track.onstepScript.alert))
      )}}
    />

    <select class="f6 mh2" {{on "change" this.selectPreset}}>
      <option selected disabled hidden>PRESETS</option>
      {{#each @presetCollections as |coll|}}
        {{#each coll.presets as |preset|}}
          <option value={{preset.id}}>{{coll.title}}: {{preset.title}}</option>
        {{/each}}
      {{/each}}
    </select>
  </div>

  {{#if (and @track.initScript (eq this.scriptUi "init"))}}
    <ScriptEditor 
      class={{if @shrinkForFooter "shrink-for-footer"}}
      @scriptModel={{@track.initScript}} 
      @editorLineCount={{this.editorLineCount}}
    />
  {{/if}}

  {{#if (and @track.onstepScript (eq this.scriptUi "onstep"))}}
    <ScriptEditor 
      class={{if @shrinkForFooter "shrink-for-footer"}}
      @scriptModel={{@track.onstepScript}} 
      @editorLineCount={{this.editorLineCount}}
    />
  {{/if}}
</div>