<div
  class="variables-overlay bg-dark-gray ph3 z-5 yellow bw2 bt bl b--yellow w-100"
  ...attributes
>
  <div class="flex justify-between">
    <TabMenu
      class="mv3"
      @selectedClass="bw0 bg-dark-gray yellow z-2"
      @buttonClass="bn bg-dark-gray moon-gray"
      @onSelect={{fn this.setUi "visibleNodeIdx"}}
      @items={{this.tabItems}}
      @selectedValue={{this.tabItems.firstObject.value}}
    />
  </div>
  <div class="overflow-scroll h5 pb6">
    {{#if (and @validTrackNodes (eq this.ui "selectors"))}}
      <SelectorsList @selectorsForNode={{this.selectorsForNode}} />
    {{/if}}

    {{#if (eq this.ui "variables")}}
      <table>
        <tbody>
          {{#each this.scriptVars key="name" as |scriptVar|}}
            <tr>
              <td class="mv1"><code>{{scriptVar.name}}</code></td>
              <td class="f6 mv0">{{scriptVar.description}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{/if}}

    {{#if (eq this.ui "docs")}}
      {{#if (and @nodeDocs this.currentNode.nodeType)}}
        <CrackedNodeDocs @nodeName={{this.currentNode.nodeType}} />
      {{/if}}
    {{/if}}
    
    {{#if (and @validTrackNodes (eq this.ui "selectors"))}}
      <div class="dark-gray bg-light-gray pa3">
          <p class="fw6">Selectors are strings that lookup audio nodes so you
            change their parameters or connections.</p>
          <p>ID selectors begin with <code>#</code>
            and only select a single audio node
            <code>__('#some-unique-id')</code></p>
          <p>Class selectors begin with
            <code>.</code>
            and select all nodes with a given class.
            <code>__('.some-class-name')</code>
          </p>
          <p>Node type selectors are exact lowecase names and select all instances
            of a given node (globally).
            <code>__('compressor')</code></p>
      </div>

    {{/if}}

  </div>
</div>
