<div class="flex flex-column grow-1 mh3 relative script-wrapper-height">
  {{#if this.showScripts}}
    <div class="flex justify-between flex-wrap mb3">
      <TabMenu
        @onSelect={{fn this.setScriptTypeTab}}
        @selectedValue={{"init"}}
        @items={{compact
          (array
            (hash label="setup" value="init" beacon=@track.initScript.alert)
            (if
              @track.onstepScript
              (hash label="play" value="onstep" beacon=@track.onstepScript.alert)
            )
          )
        }}
      />
      <button
        class="textbutton light-gray f6"
        type="button"
        {{on "click" this.openGUI}}
      >
        Code Generator
      </button>

      {{#if this.showPresets}}
      {{!-- TODO: replace this with a list component to takeup full sidebar --}}
        <PresetMenu
          {{on "change" this.selectPreset}}
          {{did-update this.setDefaultPreset @track.selectedPreset}}
          @track={{@track}}
          @presetCollections={{@presetCollections}}
        />
      {{/if}}
    </div>
  {{/if}}

  {{#if this.showSignalGui}}
    <SignalChainCreator
      @trackNodes={{@model.trackNodes}}
      @onGenerateScript={{fn this.updateSignalChain @track.initScript}}
      @onSubmit={{fn this.createScriptFromGUI @track.initScript}}
      @onCancel={{fn this.cancelGUI}}
    />
  {{/if}}

  {{#if this.showInitScript}}
    <ScriptEditor
      @scriptModel={{@track.initScript}}
      @editorContent={{@track.initScript.editorContent}}
      @editorLineCount={{this.editorLineCount}}
    />
  {{/if}}

  {{#if this.showOnstepScript}}
    <ScriptEditor
      @scriptModel={{@track.onstepScript}}
      @editorContent={{@track.onstepScript.editorContent}}
      @editorLineCount={{this.editorLineCount}}
    />
  {{/if}}
</div>