{{#if @scriptModel.alert}}
  <p class="bg-dark-red pa3 ma0 white absolute top-0 right-0">{{@scriptModel.alert}}</p>
{{/if}}
{{ember-ace
  class="grow-1"
  lines=32
  editorClass="ace-editor"
  mode="ace/mode/javascript"
  value=@scriptModel.editorContent
  update=(fn this.onUpdateEditor)
}}
{{yield}}

{{#if (not functionIsLoaded)}}
  <span class="yellow dark-gray flex">
    Script not loaded.
  </span>
{{/if}}

<button
  {{on "click" (perform @scriptModel.runCode)}}
  disabled={{functionIsLoaded}}
  title="Function is loaded"
>
  {{#if functionIsLoaded}}
    Loaded
  {{else}}
    Load
  {{/if}}
</button>
{{#if functionIsLoaded}}
  <button {{on "click" this.disableScript}}>disable</button>
{{else}}
  <button
    {{on "click" this.discardChanges}}
    title="Revert editor to currently running code"
  >
    discard changes
  </button>
{{/if}}


{{#if illegalTokens}}
  <p class="mv0 flex items-center yellow">
    remove unsupported keywords: {{illegalTokens}}
  </p>
{{/if}}
