<div class="flex flex-column grow-1 mh3 relative" {{did-insert this.calculateHeight}}>
  <div class="flex justify-between">
    <TabMenu
      @onSelect={{fn this.setUi}}
      @selectedValue={{"init"}}
      @items={{compact (array 
        (hash label="setup" value="init" beacon=@track.initScript.alert)
        (if @track.onstepScript (hash label="modulate" value="onstep" beacon=@track.onstepScript.alert))
      )}}
    />

    <select class="f6 mh2" {{on "change" this.selectPreset}}>
      <option>PRESETS</option>
      {{#each @presets as |preset idx|}}
        <option value={{idx}}>{{preset.title}}</option>
      {{/each}}
    </select>
  </div>

  <div>
    {{#if (and @track.initScript (eq this.scriptUi "init"))}}
      <ScriptEditor @scriptModel={{@track.initScript}} @editorLineCount={{this.editorLineCount}}/>
    {{/if}}

    {{#if (and @track.onstepScript (eq this.scriptUi "onstep"))}}
      <ScriptEditor @scriptModel={{@track.onstepScript}} @editorLineCount={{this.editorLineCount}}/>
    {{/if}}
  </div>
</div>