<div class="relative flex overflow-hidden flex-column grow-1 mh3 script-wrapper-height">
  {{#if this.showScripts}}
    <div class="flex flex-wrap justify-between">
      <TabMenu
        @selectedClass="bw1 bg-dark-gray b--light-gray light-gray z-2 no-bottom"
        @buttonClass="bn bg-dark-gray moon-gray no-bottom no-bottom"
        @onSelect={{this.setScriptTypeTab}}
        @selectedValue={{"init"}}
        @items={{compact
          (array
            (hash label="setup" value="init" beacon=@track.initScript.alert )
            (if
              @track.onstepScript
              (hash label="play" value="onstep" beacon=@track.onstepScript.alert)
            )
          )
        }}
      />
      
      <div class="flex flex-column">
        {{!-- <button
          class="textbutton tl light-gray f6"
          type="button"
          {{on "click" this.openPresets}}
        >
          Presets
        </button> --}}

        <button
          class="textbutton tl light-gray f6"
          type="button"
          {{on "click" this.openGUI}}
        >
          Code Generator
        </button>
      </div>
    </div>
  {{/if}}

  {{#if this.showPresets}}
    <PresetMenu
      {{did-update this.setDefaultPreset @track.selectedPreset.id}}
      @track={{@track}}
      @presetCollections={{@presetCollections}}
      @onSubmit={{this.applyPreset}}
      @closeMenu={{this.backToScript}}
    />
  {{/if}}
  
  {{#if this.showSignalGui}}
    <SignalChainCreator
      @trackNodes={{@model.trackNodes}}
      @onGenerateScript={{fn this.updateSignalChain @track.initScript}}
      @onSubmit={{fn this.createScriptFromGUI @track.initScript}}
      @onCancel={{this.backToScript}}
    />
  {{/if}}

  {{#if this.showInitScript}}
    <ScriptEditor
      @scriptModel={{@track.initScript}}
      @editorContent={{@track.initScript.editorContent}}
      @editorLineCount={{this.editorLineCount}}
    />
  {{/if}}

  {{#if this.showOnstepScript}}
    <ScriptEditor
      @scriptModel={{@track.onstepScript}}
      @editorContent={{@track.onstepScript.editorContent}}
      @editorLineCount={{this.editorLineCount}}
    />
  {{/if}}
</div>