{{yield this}}
<div class="w-100" {{did-update (fn this.autoPageOnUpdate @sequence @stepIndex @isCurrentTrack)}} ...attributes>
  <div class="flex w-auto mv1">
    {{#if this.showPages}}
      {{#each this.paginationButtons as |pageIdx|}}
        {{#if (add pageIdx 1)}}
          <PaginationButton 
            {{on "click" (fn this.setPage pageIdx)}} @label={{add pageIdx 1}}
            @selected={{eq pageIdx this.page}}
            @highlight={{eq pageIdx this.pageForStepIndex}}
          />
        {{else}}
          <PaginationButton disabled={{true}}/>
        {{/if}}
      {{/each}}
    {{/if}}
  </div>
</div>