{{yield this.sequencePaginated page currentPageStartIdx}}
<div {{did-update (fn this.autoPageOnUpdate @sequence @stepIndex @isCurrentTrack)}}>

  {{#if this.showPages}}
    <div class="flex w4 mv1">
      {{#each this.paginationButtons as |pageIdx|}}
        {{#if (add pageIdx 1)}}
          <PaginationButton 
            {{on "click" (fn this.setPage pageIdx)}} @label={{add pageIdx 1}}
            @selected={{eq pageIdx this.page}}
            @highlight={{eq pageIdx pageForStepIndex}}
          />
        {{else}}
          <PaginationButton disabled={{true}}/>
        {{/if}}
      {{/each}}
    </div>
  {{/if}}
</div>
