<div class='bl flex grow-1'>
  <div class='flex justify-between grow-1'>
    <div class='sequence-control-sliders flex flex-column mh2 w-100'>
      <h3 class='ma3'>Euclidean Rhythm</h3>
      {{#if @showReference}}
        {{yield}}
      {{else}}
        <Sequence::Slider
          @label="hits"
          @value={{@sequence.hits}}
          @min={{0}}
          @max={{@sequence.steps}}
          @onChange={{fn @updateTrackSequence @sequence 'hits'}}
        />
        <Sequence::Slider
          @label="steps"
          @value={{@sequence.steps}}
          @min={{0}}
          @max={{@maxSteps}}
          @onChange={{fn @updateTrackSequence @sequence 'steps'}}
        />
        <Sequence::Slider
          @label="offset"
          @value={{@sequence.offset}}
          @min={{0}}
          @max={{@maxSteps}}
          @onChange={{fn @updateTrackSequence @sequence 'offset'}}
        />
      {{/if}}
    </div>
  </div>
</div>