{{!-- <div class="flex flex-wrap">
  {{#each this.selectedNodes as |node|}}
    <div class="w2 h1 bg-gray yellow fw4 ma1 grow-1">
      <span class="pa1">{{node}}</span>
    </div>
  {{/each}}
</div>
<div class="flex justify-between">
  <div class="grow-1">
    <h4 class="white">source node</h4>
    <ul class="list pl1 h-4 overflow-scroll h5 bw2">
      {{#each this.sourceGroups as |group|}}
        {{#if group.type}}
          <li class="pv2 fw7 bb light-yellow">{{group.type}}</li>
        {{/if}}
        {{#each group.nodes as |node|}}
          <li>
            <button {{on "click" (fn this.addSourceNodeToSignalChain node)}} class="yellow bn bg-transparent">{{node}}</button>
          </li>
        {{/each}}
      {{/each}}
    </ul>
  </div>
  <div class="grow-1">
    <h4 class="white">effects</h4>
    <ul class="list pl1 h-4 overflow-scroll h5 bw2">
      {{#each this.effectsGroups as |group|}}
        {{#if group.type}}
          <li class="pv2 fw7 bb light-yellow">{{group.type}}</li>
        {{/if}}
        {{#each group.nodes as |node|}}
          <li>
            <button {{on "click" (fn this.insertEffectNodeAtIdx idx node)}} class="yellow bn bg-transparent">{{node}}</button>
          </li>
        {{/each}}
      {{/each}}
    </ul>
  </div>
  <button {{on "click" this.clear}}>clear</button>
</div> --}}

{{!-- template-lint-disable no-invalid-interactive --}}
<div class="w-100 h-100 flex flex-column" {{on "click" this.deselectActiveNode}}>
  <h4 class="yellow">Create A Signal Chain</h4>
  
  <div class="pv3">
    {{#each this.signalChainPresets as |presetBtn|}}
      <ButtonPrimary class="br4" {{on "click" (fn this.selectPreset presetBtn.data)}} @label={{presetBtn.label}} />
    {{/each}}
  </div>
  <div class="h-100 flex flex-column overflow-scroll mr5 pb5" >
    <SignalChainNode
      @activeNodeIdx={{this.activeNodeIdx}}
      @node={{this.selectedNodes.firstObject}}
      @nodeOptionGroups={{this.sourceGroups}}
      @onToggleMenu={{this.setActiveNode}}
      @onSelectNode={{this.addSourceNodeToSignalChain}}
    />

    {{#each this.selectedNodes as |node idx|}}
      {{!-- exclude the source node --}}
      {{#unless (eq idx 0)}}
        <SignalChainNode
          @activeNodeIdx={{this.activeNodeIdx}}
          @node={{node}}
          @idx={{idx}}
          @nodeOptionGroups={{this.effectsGroups}} 
          @onToggleMenu={{this.setActiveNode}}
          @onSelectNode={{fn this.insertEffectNodeAtIdx idx}}
          @onRemoveNode={{fn this.removeNodeFromArray idx}}
        />
      {{/unless}}
    {{/each}}
    
    {{#unless (eq this.selectedNodes.length 0)}}
      <SignalChainNode
        @idx={{-1}}
        @activeNodeIdx={{this.activeNodeIdx}}
        @nodeOptionGroups={{this.effectsGroups}} 
        @onToggleMenu={{this.setActiveNode}}
        @onSelectNode={{fn this.insertEffectNodeAtIdx 1}}
      />
    {{/unless}}
  </div>
  <div class="pv3">
    <ButtonPrimary
      class="b--light-blue bg-light-blue dark-gray fw6 w5"
      @restyle={{true}}
      {{on "click" @onSubmit}}
      title="Generate Init Code"
    >
      Generate Code
    </ButtonPrimary>
    <ButtonPrimary
      class="light-gray b--light-gray bg-dark-gray"
      @restyle={{true}}
      {{on "click" @onCancel}}
      title="Generate Init Code"
    >
      Cancel
    </ButtonPrimary>
  </div>
</div>