<div class="signal-chain-node relative mb3 w4">
  {{#if (and @node @onRemoveNode)}}
    <IconButton class="light-fill small-icon-btn bn absolute right-0 top-0 z-2" @icon="fi-cancel" @iconClass="ph2 pv3" {{on "click" (fn @onRemoveNode)}} />
  {{/if}}
  <button class="w4 h3 ba b--yellow yellow bg-transparent" type="button" {{on "click" this.toggleMenu}}>
    {{#if @node}}
      {{@node}}
    {{else}}
      +
    {{/if}}
  </button>

  {{!-- TODO: refactor this style into Dropdown menu --}}
  {{#if this.isShowingChoices}}
    <div class="node-choice-menu h4 mt5 absolute bg-dark-gray z-2 flex">
      {{svg-jar "fi-play" class="yellow-fill rotate-180 mt2"  width="16px" height="20px"}}

      <ul class="list pl1 mt0 h-4 w-100 overflow-scroll h5 bw1 ba b--yellow">
        {{#each @nodeOptionGroups as |group|}}
          {{#if group.type}}
            <li class="pa2 f6 bb light-gray w-100 tc mt1">{{group.type}}</li>
          {{/if}}
          {{#each group.nodes as |node|}}
            <li>
              <button class="yellow ph3 pv2 bn bg-transparent tl w-100" type="button" {{on "click" (fn this.selectNode node)}}>{{node}}</button>
            </li>
          {{/each}}
        {{/each}}
      </ul>

    </div>
  {{/if}}
</div>