<div class='flex bl justify-between grow-1 w-auto'>
  <div class='mh2 flex flex-column w-auto'>
    <h3 class='ma3 ttc'>
      {{#each @track.sourceNodeRecords as |source|}}
        {{!-- TODO: better UI if there are multiple source on a track --}}
        {{source.nodeType}}
        {{#if @track.samplerFilepathControl.filename }}
          - {{@track.samplerFilepathControl.filename}}
        {{/if}}
      {{/each}}
    </h3>
    {{#if @showReference}}
      {{yield}}
    {{else}}
      {{#if @track.sourceNodeRecords.length}}
        <ul class='mv0 ml2 flex items-center pa0 list f7'>
          {{#each @track.samplerFilepathControl.pathSegments as |directory|}}
            {{#if directory.length}}
              <li class='directory-btns'>
                <button
                  class='textbutton pa2'
                  type='button'
                  {{on 'click' @showFilePath}}
                >
                  {{directory}}
                </button>
              </li>
            {{/if}}
          {{/each}}
        </ul>
      {{else}}
        <p>There are no source nodes defined on this track</p>
      {{/if}}
      {{#each @track.samplerNativeBuffers as |buffer|}}
        {{#if buffer}}
          <canvas
            class='ba bw1 ml3 w-100 h-50'
            {{audio-waveform buffer}}
          ></canvas>
        {{/if}}
      {{/each}}
    {{/if}}
  </div>
</div>