{{!-- <Oscilloscope
  @id={{concat @track.id 'scope'}}
  @node={{@track.nodeToVisualize}}
  @fill='#ffce55'
  @accent='#000000'
/> --}}
<div class='flex justify-between w-auto bl grow-1'>
  <div class='flex w-auto mh2 flex-column'>
    <h3 class='ma3 ttc'>
      {{!-- REFACTOR/REDESIGN: 
        this UI should represent filepath controls, sound-files and sampler track nodes

        Sample Pool: downloaded sound-files
        Buffer Waveforms: Sampler Nodes that are loaded with a waveform
        filepath-controls: UI connecting file selection to the wave form

      --}}
      {{#each @track.sourceNodeRecords as |source|}}
        {{! TODO: better UI if there are multiple source on a track }}
        {{source.nodeType}}
        {{#if @track.samplerFilepathControl.filename}}
          -
          {{@track.samplerFilepathControl.filename}}
        {{/if}}
      {{/each}}
    </h3>
    <span class='mh3'>
      Coming soon: slicing and more playback control!
    </span>
    {{#if @showReference}}
      {{yield}}
    {{else}}
      {{#if @track.sourceNodeRecords.length}}
        <ul class='flex items-center mv0 ml2 pa0 list f7'>
          {{#each @track.samplerFilepathControl.pathSegments as |directory|}}
            {{#if directory.length}}
              <li class='directory-btns'>
                <button
                  class='textbutton pa2'
                  type='button'
                  {{on 'click' @showFilePath}}
                >
                  {{directory}}
                </button>
              </li>
            {{/if}}
          {{/each}}
        </ul>
        {{#if @track.fileDownloadError}}
          <div class="red bg-dark-gray pa3 mh3">
            <p>Error Downloading {{@track.samplerFilepathControl.pathSegments.lastObject}}</p>
            <p>{{@track.fileDownloadError}}</p>
          </div>
        {{/if}}
      {{else}}
        <p class="light-gray bg-dark-gray pa3 mh3 mv0">There are no source nodes defined on this track</p>
      {{/if}}
      {{#each @track.samplerNativeBuffers as |buffer|}}
        {{#if buffer}}
          <canvas
            class='ba bw1 ml3 w6 h-50 pointer-none'
            {{audio-waveform buffer}}
          ></canvas>
          <span class='ml3'>{{display-float buffer.duration}} sec</span>
        {{/if}}
      {{/each}}
    {{/if}}
  </div>
</div>