<div class="flex-0 f7 tc br flex {{if @verticle "flex-column h-100"}}">
  {{yield}}
  {{#each @items as |item|}}
    <ButtonPrimary
      class="ba b--black br0 h-auto grow-1" 
      {{on "click" (fn this.select item.value)}}
      @tab={{true}}
      @label={{item.label}}
      @selected={{eq this.selectedValue item.value}}
    />
      

  {{/each}}
</div>

{{!-- <img alt="Rhythm and Automation editor" src="/assets/icons/automation.svg"> --}}
{{!-- <img alt="Script Editor" src="/assets/icons/script.svg"> --}}
