<div class="flex-0 f7 tc br flex {{if @verticle "flex-column h-100"}}" ...attributes>
  {{yield}}
  {{#each @items as |item|}}
    {{#if @verticle}}
      <button
        class="flex flex-column items-center ba b--black br0 h-auto grow-1 {{if (eq this.selectedValue item.value) "bg-light-blue black" "bg-yellow black"}}" 
        {{on "click" (fn this.select item.value)}}
        title={{item.label}}
      >
        {{svg-jar item.icon width=item.iconWidth height=item.iconHeight}}
        <span class="{{if item.icon "f7" "f5"}}">{{item.label}}</span>
      </button>    
    {{else}}
      <ButtonPrimary 
        class="{{if (eq this.selectedValue item.value) "bg-dark-gray yellow" "bg-dark-gray light-gray"}}"
        @label={{item.label}} 
        {{on "click" (fn this.select item.value)}} 
      />
    {{/if}}

  {{/each}}
</div>

