<div 
  class="tab-menu flex f7 tc flex {{if @verticle "verticle flex-column h-100"}}" 
  {{did-update this.setSelected @selectedValue}}
  ...attributes
>
  {{#each @items key="order" as |item|}}
    {{#if @verticle}}
      <button
        class="flex flex-column items-center ba b--dark-gray br0 h-auto grow-1 {{if (eq this.val item.value) "bg-light-blue black" "bg-yellow black"}}" 
        {{on "click" (fn this.select item.value)}}
        title={{item.label}}
      >
        <div class="flex flex-column justify-center items-center h-100 mb3">
          {{svg-jar item.icon width=item.iconWidth height=item.iconHeight}}
          <h4 class="f7 mv0">{{item.label}}</h4>
        </div>
      </button>
    {{else}}
      <button 
        class="w4 pa2 f6 ttu ba bw1 b--dark-gray {{if (eq this.val item.value) "selected bg-light-yellow dark-gray fw6" "bg-yellow dark-gray"}}"
        title={{item.label}}
        {{on "click" (fn this.select item.value)}}
      >
        {{item.label}}
      </button>
    {{/if}}
  {{/each}}
</div>

