{{#if (eq @trackControl.interfaceName "slider")}}
  <NexusSlider 
    @value={{@trackControl.controlValue}}
    @min={{@trackControl.min}}
    @max={{@trackControl.max}}
    @defaultValue={{@trackControl.defaultValue}}
    @onChangeValue={{@updateControl}}
  />
{{/if}}

{{#if (eq @trackControl.interfaceName "multislider")}}
  <NexusMultislider 
    @values={{this.controlArrayValue}}
    @min={{@trackControl.min}}
    @max={{@trackControl.max}}
    @defaultValue={{@trackControl.defaultValue}}
    @onChangeValue={{@updateControl}}
  />
{{/if}}

{{!-- todo: custom selector for control (so it can control multiple nodes) --}}
<p class="tc">{{@trackControl.nodeAttr}}</p>