<div class="w-100 bt bw1">
  {{#unless @track.isDeleted}}
    <div class="flex bg-yellow justify-between footer-height">
      <div class="flex h-100 w-100">
        <ChannelStrip
          @channelStripGainControl={{this.channelStripGainControl}}
          @channelStripPannerControl={{this.channelStripPannerControl}}
          @updateValue={{fn this.updateControl}}
        />
        <TabMenu
          @verticle={{true}}
          @onSelect={{fn this.setUi "controlUi"}}
          @selectedValue={{"controls"}}
          @items={{array 
            (hash label="sequence" value="sequence" icon="fi-squares" iconWidth="20px" iconHeight="40px")
            (hash label="controls" value="controls" icon="automation" iconWidth="40px" iconHeight="40px")
          }}
        />

        {{#if (eq this.controlUi "sequence")}}
          <div>
            <h3 class="ma3">Euclidean Rhythm</h3>
            <div class="sequence-control-sliders flex flex-column mh3">
              <TrackControlWrapper
                class="pv3"
                @hideConfig={{true}}
                @hideInterfaceMenu={{true}}
                @wrapperStyleClass="flex items-center row-reverse"
              >
                <NexusSlider 
                  @value={{@track.hits}} 
                  @onChangeValue={{perform @track.updateTrackTask "hits"}} 
                  @min={{0}}
                  @max={{this.maxSteps}}
                  @step={{1}}
                  @size={{array 300 20}}
                >
                  <span class="w3 mr3">hits: {{@track.hits}}</span>
                </NexusSlider>
              </TrackControlWrapper>

              <TrackControlWrapper
                class="pv3"
                @hideConfig={{true}}
                @hideInterfaceMenu={{true}}
                @wrapperStyleClass="flex items-center row-reverse"
              >
                <NexusSlider
                  @value={{@track.steps}}
                  @onChangeValue={{perform @track.updateTrackTask "steps"}}
                  @min={{0}}
                  @max={{this.maxSteps}}
                  @step={{1}}
                  @size={{array 300 20}}
                >
                  <span class="w3 mr3">steps: {{@track.steps}}</span>
                </NexusSlider>
              </TrackControlWrapper>

              <TrackControlWrapper
                class="pv3"
                @hideConfig={{true}}
                @hideInterfaceMenu={{true}}
                @wrapperStyleClass="flex items-center row-reverse"
              >
                <NexusSlider 
                  @value={{@track.offset}} 
                  @onChangeValue={{perform @track.updateTrackTask "offset"}} 
                  @min={{0}}
                  @max={{this.maxSteps}}
                  @step={{1}}
                  @size={{array 300 20}}
                >
                  <span class="w3 mr3">offset: {{@track.offset}}</span>
                </NexusSlider> 
              </TrackControlWrapper> 
            </div>
          </div>
        {{/if}}
        {{#if (eq this.controlUi "controls")}}
          <div class="w-100 overflow-hidden">
            <h3 class="ma3">Node Controls</h3>
            <div class="flex flex-column grow-1 overflow-scroll">
              <TabMenu
                class="ph3 mb3"
                @onSelect={{fn this.setUi "visibleNodeIdx"}}
                @items={{this.trackNodesTabs}}
                @selectedValue={{this.visibleNodeIdx}}
              />
              <TrackControls
                @track={{@track}}
                @trackNodesForControls={{this.trackNodesForControls}} 
                @visibleNodeIdx={{this.visibleNodeIdx}}
                @updateControl={{fn this.updateControl}}
              />
            </div>
          </div>
        {{/if}}
      </div>
    </div>
  {{/unless}}
    {{!-- 
      TODO perhaps design a symbolic UI for track nodes when in script view
      to demonstrate nodes getting added/removed
    --}}
</div>
