<div 
  class="pointer ph3 bb b--silver {{if @isActive "bg-yellow" "bg-dark-gray"}}" 
  {{on "click" @selectActiveTrack}}
  ...attributes 
>
  <div class="flex relative justify-between items-center">
    <span class="f3 code {{unless @isActive "yellow"}}">{{@track.order}}</span>
    <div class="grow-0 shrink-0">
      <ButtonPrimary
        class="w4 truncate ma2 f7"
        {{on "click"  @onToggleFilePicker}}
        @label="Drum Machine: {{@track.filepath}}"
      >
        {{if @track.filepath @track.filename}}
      </ButtonPrimary>
    </div>
    {{yield}}
    <div class="grow-1 basis-auto">
      {{#if @track.sequence}}
        <TrackSequencer 
          @sequence={{@track.sequence}}
          @stepIndex={{@track.stepIndex}}
          @onClickStep={{fn this.updateTrackSequence}}
          @isCurrentTrack={{@isActive}}
        />
      {{/if}}
    </div>
    <div class="grow-0 shrink-0 flex items-center">
      <ButtonPrimary
        class="truncate ma2 f7 flex items-center yellow-fill"
        {{on "click" @onToggleScripts}}
        @label="scripts"
      >
        {{svg-jar "fi-code" width="40px" height="20px"}}
        <span class="f7">script</span>
      </ButtonPrimary>

      <DropdownMenu 
        class="h-100 flex-grow {{if @isActive "dark-fill" "light-fill"}}"
        @items={{array 
          (hash label="delete" select=(fn this.deleteTrack)) 
          (hash label="duplicate" select=(fn this.duplicateTrack)) 
        }}
      />
    </div>
  </div>
</div>