<div class='relative w-100 bt bw1' {{did-update this.setTabs @track.id}}>
  {{#unless @track.isDeleted}}
    <div
      class='relative flex justify-between flex-column bg-yellow footer-height'
    >
      <div class='flex overflow-hidden w-100 h-100'>
        {{#if this.channelStripNode}}
          <ChannelStrip
            @channelStripGainControl={{this.channelStripGainControl}}
            @channelStripPannerControl={{this.channelStripPannerControl}}
            @updateValue={{this.setControlValue}}
          />
        {{/if}}
        {{! TODO:
          when filepath sidebar opens, set this menu
          to "source"
          might require a "sidebars-service", or passing a function up to the project controller
         }}
        <TabMenu
          @buttonClass='ba b--dark-gray'
          @verticle={{true}}
          @onSelect={{fn this.setUi 'controlUiState'}}
          @selectedValue={{this.controlUiState}}
          @items={{compact
            (array
              (if
                (and @track.sequences.length (not @track.isMaster))
                (hash
                  label='sequence'
                  value='sequence'
                  icon='fi-squares'
                  iconWidth='24px'
                  iconHeight='48px'
                )
              )
              (hash
                label='source'
                value='source'
                icon='fi-sound'
                iconWidth='24px'
                iconHeight='48px'
              )
              (hash
                label='controls'
                value='controls'
                icon='automation'
                iconWidth='40px'
                iconHeight='40px'
              )
            )
          }}
        />
        {{#if this.showSequence}}
          <SequenceContainer
            @showReference={{this.showReference}}
            @sequence={{@track.currentSequence}}
            @updateTrackSequence={{@track.updateTrackSequence}}
            @maxSteps={{this.maxSteps}}
          >
            <TrackReference
              @track={{@track}}
              @validTrackNodes={{@track.validTrackNodes}}
              @controlUiState={{'sequence'}}
            />
          </SequenceContainer>
        {{/if}}
        {{#if this.showSource}}
          <SourceContainer
            @track={{@track}}
            @showReference={{this.showReference}}
            @showFilePath={{fn @toggleSidebar 'left'}}
          >
            <TrackReference
              @track={{@track}}
              @validTrackNodes={{@track.validTrackNodes}}
              @controlUiState={{'source'}}
            />
          </SourceContainer>
        {{/if}}
        {{#if this.showControls}}
          <div
            class='z-0 flex justify-between overflow-hidden grow-1 shrink-1 bt'
          >
            <div
              class='flex overflow-hidden overflow-x-scroll flex-column flex-grow-1 shrink-1 bl'
            >
              <div class='flex flex-wrap items-center justify-between mh3 mv2'>
                <h3 class='mv1'>Audio Node Controls</h3>
                {{#if (not (media 'isMobile'))}}
                  <ButtonText
                    class='ph1 pa2 f7 yellow-fill w4 mr2 mt2 flex-0'
                    {{on 'click' this.toggleReference}}
                    @label='Toggle Reference'
                  >
                    {{if this.showReference 'show controls' 'show reference'}}
                  </ButtonText>
                {{/if}}
              </div>
              <div
                class='flex overflow-y-hidden h-100 flex-column grow-1 shrink-1'
              >
                <TabMenu
                  class='mh3 mb2 flush flex-nowrap max-w-100 overflow-y-hidden grow-0 shrink-0 basis-[34px]'
                  @selectedClass='bn bg-dark-gray white z-2 mr2'
                  @buttonClass='ba bw1 b--dark-gray bg-transparent dark-gray mr2'
                  @onSelect={{fn this.setUi 'visibleNodeIdx'}}
                  @items={{this.trackNodesTabs}}
                  @selectedValue={{this.visibleNodeIdx}}
                />
                {{#if this.showReference}}
                  <TrackReference
                    @track={{@track}}
                    @controlUiState={{'controls'}}
                    @validTrackNodes={{@track.validTrackNodes}}
                    @visibleNodeIdx={{this.visibleNodeIdx}}
                  />
                {{else}}
                  <TrackControls
                    @track={{@track}}
                    @trackNodesForControls={{@track.trackNodesForControls}}
                    @visibleNodeIdx={{this.visibleNodeIdx}}
                    @updateControl={{this.setControlValue}}
                    @updateControlAttr={{this.updateControlAttr}}
                  />
                {{/if}}
              </div>
            </div>
          </div>
        {{/if}}
        {{#if
          (and this.channelStripGainControl this.channelStripPannerControl)
        }}{{/if}}
      </div>
    </div>
  {{/unless}}

  {{! 
      TODO perhaps design a symbolic UI for track nodes when in script view
      to demonstrate nodes getting added/removed
    }}
</div>