<div class="w-100 bt bw1" {{did-update this.setTabs @track.id}}>
  {{#unless @track.isDeleted}}
    <div class="flex bg-yellow justify-between footer-height relative">
      <div class="flex h-100 w-100">
        {{#if (and this.channelStripGainControl this.channelStripPannerControl)}}
          {{!-- TODO: (maybe)
            add a handle to re-open channel strip in case user wants while sidebar open,
            or, only enforce this on smal screens
          --}}
          {{#unless @leftSidebarOpen}}
            <ChannelStrip
              @channelStripGainControl={{this.channelStripGainControl}}
              @channelStripPannerControl={{this.channelStripPannerControl}}
              @updateValue={{fn this.updateControl}}
            />
          {{/unless}}
        {{/if}}
        {{!-- TODO:
          when filepath sidebar opens, set this menu
          to "source"
          might require a "sidebars-service", or passing a function up to the project controller
         --}}
        <TabMenu
          @verticle={{true}}
          @onSelect={{fn this.setUi "controlUi"}}
          @selectedValue={{this.controlUi}}
          @items={{compact (array 
            (if @track.sequences.length (hash label="sequence" value="sequence" icon="fi-squares" iconWidth="20px" iconHeight="40px"))
            (if @track.sourceNodeRecords.length (hash label="source" value="source" icon="fi-sound" iconWidth="20px" iconHeight="40px"))
            (hash label="controls" value="controls" icon="automation" iconWidth="40px" iconHeight="40px")
          )}}
        />
        {{#if (eq this.controlUi "sequence")}}
          <SequenceContainer
            @sequence={{@track.currentSequence}} 
            @updateTrackSequence={{@track.updateTrackSequence}}
            @maxSteps={{this.maxSteps}}
          >
            {{#if this.showReference}}
              <ScriptVariablesList
                @variables={{array "data" "index" "array"}}
                @title={{"sequence"}}
              />
            {{/if}}
          </SequenceContainer>
        {{/if}}
        {{#if (eq this.controlUi "source")}}
          <div class="flex justify-between grow-1">
            <div class="flex flex-column">
              <h3 class="ma3">{{@track.samplerFilepathControl.filename}}</h3>
              <ul class="pa0 list flex items-center">
                {{#each @track.samplerFilepathControl.pathSegments as |directory|}}
                  {{#if directory.length}}
                    <li class="directory-btns">
                      <button class="textbutton pa2">
                        {{directory}}
                      </button>
                    </li>
                  {{/if}}
                {{/each}}
              </ul>
              <p class="ma3">Coming soon: sample waveform editor and custom sound libraries</p>
            </div>
            
            {{#if this.showReference}}
              <ScriptVariablesList
                @nodeDocs={{true}}
                @variables={{array "this.filepath"}}
                @validTrackNodes={{this.validTrackNodes}}
                @useSourceNode={{true}}
                @title={{"source"}}
              >
              </ScriptVariablesList>
            {{/if}}
          </div>
        {{/if}}
        {{#if (eq this.controlUi "controls")}}
          <div class="flex justify-between grow-1">
            <div class="overflow-hidden flex flex-column flex-grow-1 shrink-1 bl">
              <div class="flex justify-between">
                <h3 class="ma3">Audio Node Controls</h3>
                {{#unless @rightSidebarOpen}}
                  <ButtonPrimary
                    class="truncate ma2 f7 flex items-center yellow-fill {{if @track.isMaster "mr3"}}"
                    {{on "click" this.toggleReference}}
                    @label="Edit"
                  >
                    reference
                  </ButtonPrimary>
                {{/unless}}
              </div>
              <div class="h-100 flex flex-column grow-1 shrink-1 w-100">
                <TabMenu
                  class="ph3 mb3"
                  @onSelect={{fn this.setUi "visibleNodeIdx"}}
                  @items={{this.trackNodesTabs}}
                  @selectedValue={{this.visibleNodeIdx}}
                />
                <TrackControls
                  @track={{@track}}
                  @trackNodesForControls={{this.trackNodesForControls}}
                  @visibleNodeIdx={{this.visibleNodeIdx}}
                  @updateControl={{fn this.updateControl}}
                />
              </div>
            </div>
            {{#if this.showReference}}
              <ScriptVariablesList
                @nodeDocs={{true}}
                @variables={{array "controls"}}
                @visibleNodeIdx={{this.visibleNodeIdx}}
                @validTrackNodes={{this.validTrackNodes}}
                @title={{"controls"}}
              >
              </ScriptVariablesList>
            {{/if}}
          </div>
        {{/if}}
      </div>
    </div>
  {{/unless}}
    {{!-- 
      TODO perhaps design a symbolic UI for track nodes when in script view
      to demonstrate nodes getting added/removed
    --}}
</div>
