<div class="w-100 bt bw1">
  {{#unless @track.isDeleted}}
    <div class="flex bg-yellow justify-between footer-height">
      <div class="flex h-100 w-100">
        {{#if (and this.channelStripGainControl this.channelStripPannerControl)}}
          {{!-- TODO: (maybe)
            add a handle to re-open channel strip in case user wants while sidebar open,
            or, only enforce this on smal screens
          --}}
          {{#unless @leftSidebarOpen}}
            <ChannelStrip
              @channelStripGainControl={{this.channelStripGainControl}}
              @channelStripPannerControl={{this.channelStripPannerControl}}
              @updateValue={{fn this.updateControl}}
            />
          {{/unless}}
        {{/if}}
        {{!-- TODO:
          when filepath sidebar opens, set this menu
          to "source"
          might require a "sidebars-service", or passing a function up to the project controller
         --}}
        <TabMenu
          @verticle={{true}}
          @onSelect={{fn this.setUi "controlUi"}}
          @selectedValue={{"controls"}}
          @items={{compact (array 
            (if @track.sequences.length (hash label="sequence" value="sequence" icon="fi-squares" iconWidth="20px" iconHeight="40px"))
            (if @track.sourceNodeRecords.length (hash label="source" value="source" icon="fi-sound" iconWidth="20px" iconHeight="40px"))
            (hash label="controls" value="controls" icon="automation" iconWidth="40px" iconHeight="40px")
          )}}
        />

        {{#if (eq this.controlUi "sequence")}}
          <SequenceContainer 
            @sequence={{@track.currentSequence}} 
            @updateTrackSequence={{@track.updateTrackSequence}}
            @maxSteps={{this.maxSteps}}
          />
        {{/if}}
        {{#if (eq this.controlUi "source")}}
          <div class="flex flex-column">
            <h3 class="ma3">{{@track.samplerFilepathControl.filename}}</h3>
            <ul class="pa0 list flex">
              {{#each @track.samplerFilepathControl.pathSegments as |directory|}}
                <li class="directory-btns">
                  <button class="textbutton">
                    {{directory}}
                  </button>
                </li>
              {{/each}}
            </ul>
            <p class="ma3">Coming soon: sample waveform editor and custom sound libraries</p>
          </div>
        {{/if}}
        {{#if (eq this.controlUi "controls")}}
          <div class="overflow-hidden flex flex-column flex-grow-1 shrink-1 bl">
            <div class="flex justify-between">
              <h3 class="ma3">Audio Node Controls</h3>
              {{#unless @rightSidebarOpen}}
                <p {{on "click" @onToggleScripts}} class="pointer fw5 f5 tr mr3">Edit Audio Nodes</p>
              {{/unless}}
            </div>
            <div class="h-100 flex flex-column grow-1">
              <TabMenu
                class="ph3 mb3"
                @onSelect={{fn this.setUi "visibleNodeIdx"}}
                @items={{this.trackNodesTabs}}
                @selectedValue={{this.visibleNodeIdx}}
              />
              <TrackControls
                @track={{@track}}
                @trackNodesForControls={{this.trackNodesForControls}} 
                @visibleNodeIdx={{this.visibleNodeIdx}}
                @updateControl={{fn this.updateControl}}
              />
            </div>
          </div>
        {{/if}}
      </div>
    </div>
  {{/unless}}
    {{!-- 
      TODO perhaps design a symbolic UI for track nodes when in script view
      to demonstrate nodes getting added/removed
    --}}
</div>
