<div class="flex">
  <div>
    {{#if (eq @trackControl.interfaceName "slider")}}
      <NexusSlider 
        @value={{@trackControl.controlValue}}
        @min={{@trackControl.min}}
        @max={{@trackControl.max}}
        @defaultValue={{@trackControl.defaultValue}}
        @onChangeValue={{@updateValue}}
      />
    {{/if}}

    {{#if (eq @trackControl.interfaceName "number")}}
      <NexusNumber
        @value={{@trackControl.controlValue}}
        @defaultValue={{@trackControl.defaultValue}}
        @onChangeValue={{@updateValue}}
        @min={{-20000}}
        @max={{20000}}
        @step={{0.125}}
      />
    {{/if}}

    {{#if (eq @trackControl.interfaceName "multislider")}}
      <NexusMultislider 
        @values={{@trackControl.controlArrayComputed}}
        @min={{@trackControl.min}}
        @max={{@trackControl.max}}
        @defaultValue={{@trackControl.defaultValue}}
        @onChangeValue={{@updateValue}}
      />
    {{/if}}
    {{!-- todo: custom selector for control (so it can control multiple nodes) --}}
    <p class="tc">{{@trackControl.nodeAttr}}</p>
  </div>

  {{#if this.showMinMax}}
    <div>
      <div class="ml1 flex flex-column justify-between mb4">
        <NexusNumber 
          @label="max" 
          @value={{@trackControl.max}} 
          @onChangeNumber={{fn this.setParam "max"}}
          @min={{-20000}}
          @max={{20000}}
          @step={{0.25}}
        />
        <NexusNumber 
          @label="min" 
          @value={{@trackControl.min}} 
          @onChangeNumber={{fn this.setParam "min"}}
          @min={{-20000}}
          @max={{20000}}
          @step={{0.25}}
        />

        <NexusNumber 
          @label="default" 
          @value={{@trackControl.defaultValue}} 
          @onChangeNumber={{fn this.setParam "defaultValue"}}
          @min={{-20000}}
          @max={{20000}}
          @step={{0.25}}
        />
      </div>
      <button class="f7 pa1" {{on "click" this.setDefault}}>set default</button>
    </div>
  {{/if}}

  {{#unless @hideInterfaceMenu}}
    <div>
      <NexusSelect
        @value={{@trackControl.interfaceName}}
        @selectOptions={{@trackControl.uiOptions}}
        @onChangeValue={{fn this.changeUiType}}
      />
    </div>
  {{/unless}}

</div>
