<div class="track-control-wrapper flex br bw1 {{if this.showConfig "pr2 b--dark-gray" "b--yellow"}}" ...attributes>
  <div class="mh3 mb3">
    <div class="{{@wrapperStyleClass}} flex flex-column items-center" style={{if @trackControl.isMultislider this.multisliderWidthStyle}} data-node-uuid={{@trackControl.trackNode.nodeUUID}}>
      <div class="flex justify-between">
        <label class="tc dib pv2">
          {{@trackControl.nodeAttr}}
        </label>
        {{#if this.isConfigurable}}
          <button class="overflow-hidden bg-transparent pa2 bn" type="button" {{on "click" this.toggleConfig}}>
            {{svg-jar "fi-play" class=(concat "dark-fill " (if this.showConfig "rotate-0" "rotate-90"))  width="16px" height="20px"}}
          </button>
        {{/if}}
      </div>
      {{yield this.multisliderWidth}}
    </div>
  </div>

  {{#if this.isConfigurable}}
    {{#if this.showConfig}}
      <div class="ph1">
        <h5 class="ma1">Control Range</h5>
        <div class="flex justify-between ml1 flex-column mb4">
          <NexusNumber 
            @label="max"
            @value={{@trackControl.max}} 
            @onChangeNumber={{fn this.setParam "max"}}
            @min={{-20000}}
            @max={{20000}}
            @step={{0.25}}
          />
          <NexusNumber 
            @label="min" 
            @value={{@trackControl.min}} 
            @onChangeNumber={{fn this.setParam "min"}}
            @min={{-20000}}
            @max={{20000}}
            @step={{0.25}}
          />
          <NexusNumber 
            @label="default" 
            @value={{@trackControl.defaultValue}} 
            @onChangeNumber={{fn this.setParam "defaultValue"}}
            @min={{-20000}}
            @max={{20000}}
            @step={{0.25}}
          />
          <button class="f7 pa1 ba bw1 b--dark-gray bg-yellow" type="button" {{on "click" this.setDefault}}>set default</button>
        </div>
      </div>
    {{/if}}
  {{/if}}

  {{#unless @hideInterfaceMenu}}
    {{#if this.showConfig}}
      <div class="ph1 ml2">
        <h5 class="ma1">Type</h5>
        <div class="mv3">
          <NexusSelect
            @value={{@trackControl.interfaceName}}
            @selectOptions={{@trackControl.interfaceNamesForAttr}}
            @onChangeValue={{this.changeInterfaceName}}
          />
        </div>
      </div>
    {{/if}}
  {{/unless}}
</div>