<div class="mv3 pointer" ...attributes {{on "click" @selectActiveTrack}}>
  <div class="flex relative justify-between {{if @isActive "bg-dark-blue" "bg-dark-gray"}}">    
    {{yield}}
    {{#if @track.sequence}}
      {{nexus-sequencer 
        sequence=@track.sequence
        stepIndex=@track.stepIndex
        onChangeValue=(action "updateTrackSequence") 
      }}
    {{/if}}
    <DropdownMenu 
      class="h-100 flex-grow"
      @items={{array 
        (hash label="delete" select=(fn this.deleteTrack)) 
      }}
    />
  </div>
</div>