<div class="track-sequencer-width flex pa3 flex-wrap justify-between"> 
  <SequencePagination 
    @sequence={{@sequence}} 
    @stepIndex={{@stepIndex}}
    @isCurrentTrack={{@isCurrentTrack}}
    as |sequencePaginated page currentPageStartIdx|
  >
    <div class="sequencer-width flex justify-start">
      {{#each sequencePaginated as |step idx|}}
        <SequencerStep 
          {{on "click" (fn @onClickStep idx)}}
          @step={{step}} 
          @stepIndex={{seq-step-offset @stepIndex @sequence}} 
          @idx={{add idx currentPageStartIdx}}
        />
      {{/each}}
    </div>
  </SequencePagination>
</div>