{{#each @trackNodesForControls as |trackNode idx|}}
  {{#if (eq @visibleNodeIdx idx)}}
    <div class='flex ml3 overflow-hidden'>
      <div class='flex justify-start overflow-x-scroll overflow-y-hidden h-100 mw-100'>
        {{#each trackNode.trackControls as |trackControl|}}
          {{#if trackControl.isMultislider}}
            <Controls::Wrapper
              class='multislider-wrapper multislider-width justify-between'
              @trackControl={{trackControl}}
            >
              <SequencePagination
                @sequence={{@track.currentSequence.sequence}}
                @values={{trackControl.controlArrayComputed}}
                @stepIndex={{@track.stepIndex}}
                @updateControl={{@updateControl}}
                as |pgn|
              >
                <Controls::Multislider
                  @stepIndex={{pgn.indexForPage}}
                  @sequence={{pgn.sequencePaginated}}
                  @values={{pgn.valuesPaginated}}
                  @min={{trackControl.min}}
                  @max={{trackControl.max}}
                  @stepSize={{trackControl.stepSize}}
                  @defaultValue={{trackControl.defaultValue}}
                  @onChange={{fn pgn.updateSequencePage trackControl}}
                />
              </SequencePagination>
            </Controls::Wrapper>
          {{/if}}
          {{#if trackControl.isSlider}}
            <Controls::Wrapper
              class="pb3"
              @trackControl={{trackControl}}
             >
              <Controls::Slider
                @value={{trackControl.controlValue}}
                @step={{trackControl.stepSize}}
                @min={{trackControl.min}}
                @max={{trackControl.max}}
                @onChange={{fn @updateControl trackControl}}
              />
            </Controls::Wrapper>
          {{/if}}
        {{/each}}
      </div>
    </div>
  {{/if}}
{{/each}}