<div class='relative w-100 bt bw1' {{did-update this.setTabs @track.id}}>
  {{#unless @track.isDeleted}}
    <div
      class='relative flex justify-between flex-column bg-yellow footer-height'
    >
      <div class='flex overflow-hidden w-100 h-100'>
        {{#if
          (and this.channelStripGainControl this.channelStripPannerControl)
        }}

          <ChannelStrip
            @channelStripGainControl={{this.channelStripGainControl}}
            @channelStripPannerControl={{this.channelStripPannerControl}}
            @updateValue={{this.updateControl}}
          />

        {{/if}}
        {{! TODO:
          when filepath sidebar opens, set this menu
          to "source"
          might require a "sidebars-service", or passing a function up to the project controller
         }}
        <TabMenu
          @verticle={{true}}
          @onSelect={{fn this.setUi 'controlUiState'}}
          @selectedValue={{this.controlUiState}}
          @items={{compact
            (array
              (if
                @track.sequences.length
                (hash
                  label='sequence'
                  value='sequence'
                  icon='fi-squares'
                  iconWidth='24px'
                  iconHeight='48px'
                )
              )
              (if
                @track.sourceNodeRecords.length
                (hash
                  label='source'
                  value='source'
                  icon='fi-sound'
                  iconWidth='24px'
                  iconHeight='48px'
                )
              )
              (hash
                label='controls'
                value='controls'
                icon='automation'
                iconWidth='40px'
                iconHeight='40px'
              )
            )
          }}
        />
        {{#if this.showSequence}}
          <SequenceContainer
            @showReference={{this.showReference}}
            @sequence={{@track.currentSequence}}
            @updateTrackSequence={{@track.updateTrackSequence}}
            @maxSteps={{this.maxSteps}}
          >
            <TrackReference
              @track={{@track}}
              @validTrackNodes={{this.validTrackNodes}}
              @controlUiState={{'sequence'}}
            />
          </SequenceContainer>
        {{/if}}
        {{#if this.showSource}}
          <SourceContainer
            @track={{@track}}
            @showReference={{this.showReference}}
            @showFilePath={{fn @toggleSidebar 'left'}}
          >
            <TrackReference
              @track={{@track}}
              @validTrackNodes={{this.validTrackNodes}}
              @controlUiState={{'source'}}
            />
          </SourceContainer>
        {{/if}}
        {{#if this.showControls}}
          <div class='flex justify-between overflow-hidden grow-1 shrink-1 bt'>
            <div
              class='flex overflow-hidden overflow-x-scroll flex-column flex-grow-1 shrink-1 bl'
            >
              <h3 class='ma3'>Audio Node Controls</h3>
              <div class='flex h-100 flex-column grow-1 shrink-1'>
                <TabMenu
                  class='ph3 mb3'
                  @onSelect={{fn this.setUi 'visibleNodeIdx'}}
                  @items={{this.trackNodesTabs}}
                  @selectedValue={{this.visibleNodeIdx}}
                />
                {{#if this.showReference}}
                  <TrackReference
                    @track={{@track}}
                    @controlUiState={{'controls'}}
                    @validTrackNodes={{this.validTrackNodes}}
                    @visibleNodeIdx={{this.visibleNodeIdx}}
                  />
                {{else}}
                  <TrackControls
                    @track={{@track}}
                    @trackNodesForControls={{this.trackNodesForControls}}
                    @visibleNodeIdx={{this.visibleNodeIdx}}
                    @updateControl={{this.updateControl}}
                  />
                {{/if}}
              </div>
            </div>
          </div>
        {{/if}}
      </div>
    </div>
  {{/unless}}
  <div>
    <ButtonPrimary
      class='absolute bottom-0 right-0 flex f7 yellow-fill'
      {{on 'click' this.toggleReference}}
      @label='Edit'
    >
      reference
    </ButtonPrimary>
  </div>
  {{! 
      TODO perhaps design a symbolic UI for track nodes when in script view
      to demonstrate nodes getting added/removed
    }}
</div>