<div class="flex pa3 justify-between flex-wrap"> 
  <SequencePagination 
    @sequence={{@sequence}} 
    @stepIndex={{@stepIndex}}
    @isCurrentTrack={{@isCurrentTrack}}
    as |pgn|
  >
    <div class="sequencer-width flex justify-start shrink-0 mr3">
      {{#each pgn.sequencePaginated as |step idx|}}
        <SequencerStep 
          {{on "click" (fn @onClickStep (add pgn.pageOffset idx))}}
          @step={{step}} 
          @stepIndex={{seq-step-offset @stepIndex @sequence}} 
          @idx={{add idx pgn.currentPageStartIdx}}
        />
      {{/each}}
    </div>
  </SequencePagination>
</div>