<div 
  class="pointer {{if @track.isMaster "ph4" "ph3"}} bb b--silver {{if @isActive "bg-yellow" "bg-dark-gray hover-bg-near-black"}}" 
  {{on "mousedown" @selectActiveTrack}}
  ...attributes 
>
  <div class="flex relative justify-between items-center">
    <span class="f3 code {{unless @isActive "yellow"}}">{{@track.order}}</span>
    <div class="flex grow-0 shrink-0 items-center justify-between">
      {{#if @track.isMaster}}
        <p class="tc pv2 ph3 ml2 f6 ttu bg-dark-gray yellow ba bw1 b--yellow w4 truncate f7">Main Output</p>
        {{#if @track.nodeToVisualize}}
          <Oscilloscope class="ml3 pl1" @id={{"master-scope"}} @isActive={{@isActive}} @node={{@track.nodeToVisualize}}/>
        {{/if}}
      {{/if}}
      {{#if @track.showFilePicker}}
        <SourceSelectButton
          @trackNode={{@track.sourceNodeRecords.firstObject}} 
          @onToggleFilePicker={{@onToggleFilePicker}} 
        />
      {{else}}
        {{#unless @track.isMaster}}
          <p class="tc w4 ma2 {{unless @isActive "light-gray"}}">
            {{#if @track.sourceNodeRecords.firstObject}}
              {{@track.sourceNodeRecords.firstObject.nodeType}}
            {{else}}
              <span {{on "click" @onToggleScripts}} class="f6 pa1">No Source Node</span>
            {{/if}}
          </p>
        {{/unless}}
      {{/if}}
    </div>

    {{yield}}

    <div class="grow-1 basis-auto">
      {{#if @track.currentSequence.sequence}}
        <TrackSequencer 
          @sequence={{@track.currentSequence.sequence}}
          @stepIndex={{@track.stepIndex}}
          @onClickStep={{fn this.updateTrackSequence}}
          @isCurrentTrack={{@isActive}}
        />
      {{/if}}
    </div>
    <div class="grow-0 shrink-0 flex items-center">
      <ButtonPrimary
        class="relative truncate ma2 f7 flex items-center {{if (and @isActive @rightSidebarOpen) "b--light-yellow light-yellow-button" "yellow-fill"}} {{if @track.isMaster "mr3"}}"
        {{on "click" @onToggleScripts}}
        @label="scripts"
      >
        {{svg-jar "fi-code" width="40px" height="20px"}}
        {{#if @track.scriptAlert}}
          <span class="beacon absolute left-1" title={{@track.scriptAlert}}>⬤</span>
        {{/if}}
        <span class="f7">script</span>
      </ButtonPrimary>
      {{#unless @track.isMaster}}
        <DropdownMenu 
          class="h-100 flex-grow {{if @isActive "dark-fill" "light-fill"}}"
          @items={{array 
            (hash label="delete" select=(fn this.deleteTrack)) 
            (hash label="duplicate" select=(fn this.duplicateTrack)) 
          }}
        />
      {{/unless}}
    </div>
  </div>
</div>