<div 
  class="pointer ph3 bb b--silver {{if @isActive "bg-dark-blue" "bg-dark-gray"}}" 
  {{on "click" @selectActiveTrack}}
  ...attributes 
>
  <div class="flex relative justify-between">    
    <ButtonPrimary
      class="truncate ma2"
      {{on "click"  this.toggleDrumFilePicker}}
      @label="Drum Machine: {{@track.filepath}}"
    >
      {{if @track.filepath @track.filename}}
    </ButtonPrimary>

    {{yield}}

    {{#if @track.sequence}}
      <TrackSequencer 
        @sequence={{@track.sequence}}
        @stepIndex={{@track.stepIndex}}
        @onClickStep={{fn this.updateTrackSequence}}
      />
    {{/if}}
    <DropdownMenu 
      class="h-100 flex-grow"
      @items={{array 
        (hash label="delete" select=(fn this.deleteTrack)) 
        (hash label="duplicate" select=(fn this.duplicateTrack)) 
      }}
    />
  </div>
</div>