<div class="mv3 ph3 mw6 center">
  <h2>Your Projects</h2>
  <ul class="list ph0">
    {{#each @model as |project|}}
      <li class="flex justify-between pv2">
        <div class="flex items-center grow-1">
          {{#if project.isPlaying}}
            <IconButton class="bg-transparent" @icon="fi-stop" @label="stop" {{on "click" (fn this.stop project)}} />
          {{else}}
            <IconButton class="bg-transparent" @icon="fi-play" @label="play" {{on "click" (fn this.play project)}} />
          {{/if}}
          <h3 class="mv0 ml3">
            <LinkTo @route="user.creator.project" @models={{array project.creator project.slug}} class="blue">
              {{project.displayTitle}}
            </LinkTo>
          </h3>
        </div>
        <DropdownMenu
          class="h-100 flex-grow dark-fill bn bg-transparent"
          @offsetY={{15}}
          @items={{array
            (hash label="delete" select=(fn this.deleteProject project)) 
          }}
        />
      </li>
    {{/each}}
  </ul>
  {{outlet}}
</div>
{{outlet}}