<h1>{{this.model.title}}</h1>
<div class="flex justify-between">
  <div class="flex">
    <button {{action "play"}}>play</button> 
    <button {{action "stop"}}>stop</button>
    <button {{action "reset"}}>reset</button>
  </div>
  <button {{on "click" this.addTrack}}>+ track</button>
</div>
<div>

  {{#each @model.tracks as |track|}}
    <TrackContainer
      @track={{track}} 
      @isActive={{eq track.id this.activeTrack.id}} 
      @selectActiveTrack={{fn this.transitionToTrack track.id}}
    />
  {{/each}}
</div>

{{outlet}}
