<nav class="project-header-height">
  <h1 class="ma0 f3">{{this.model.title}}</h1>
  <div class="flex justify-between">
    <div class="flex">
      <button {{action "play"}}>play</button> 
      <button {{action "stop"}}>stop</button>
      <button {{action "reset"}}>reset</button>
    </div>
    <button {{on "click" this.addTrack}}>+ track</button>
  </div>
</nav>

<div class="flex flex-column justify-between project-tracks-height">
  <div class="overflow-scroll">
    {{#each @model.tracks as |track|}}
      <TrackContainer
        @track={{track}} 
        @isActive={{eq track.id this.activeTrack.id}} 
        @selectActiveTrack={{fn this.transitionToTrack track.id}}
      />
    {{/each}}
  </div>

  {{outlet}}
</div>
