<div>
  <p>{{model.title}}</p>
  {{outlet}}
  <button {{action "play"}}>play</button> 
  <button {{action "stop"}}>stop</button>
  
  {{#each @model.tracks as |track|}}
    <TrackContainer @track={{track}}/>
  {{/each}}
</div>