<nav class="project-header-height flex justify-between items-center ph3">
  <div class="flex justify-between w-100 items-center">    
    <h1 class="ma0 f3">{{this.model.title}}</h1>
      <div class="flex">
        <IconButton @icon="fi-play" @label="play" {{action "play"}} />
        <IconButton @icon="fi-stop" @label="stop" {{action "stop"}} />
        <IconButton @icon="fi-previous" @label="reset" {{action "reset"}} />
      </div>
    <ButtonPrimary class="ml3" @label={{"+ track"}} {{on "click" this.addTrack}}/>
  </div>
</nav>

<div class="flex project-tracks-height overflow-hidden">
  {{#if (and this.leftSidebarOpen this.activeTrack (not this.activeTrack.isDeleted))}}
    <SidebarWrapper 
      class="left-sidebar-width h-100 bw2 br b--yellow"
      @direction="left"
      @onCloseSidebar={{fn this.toggleSidebar false}}
    >
      <DrumFilePicker
        @track={{this.activeTrack}}
      />
    </SidebarWrapper>
  {{/if}}

  <div class="bg-dark-gray h-100 flex flex-column justify-between shrink-1 grow-1">
    <div class="overflow-scroll">
      {{#each @model.tracks as |track|}}
        <TrackListItem
          @track={{track}} 
          @isActive={{eq track.id this.activeTrack.id}} 
          @selectActiveTrack={{fn this.transitionToTrack track.id}}
          @onToggleFilePicker={{fn this.toggleSidebar track.id "left"}}
          @onToggleScripts={{fn this.toggleSidebar track.id "right"}}
        />
      {{/each}}
    </div>
    {{outlet}}
  </div>
  {{#if (and this.rightSidebarOpen this.activeTrack (not this.activeTrack.isDeleted))}}
    <SidebarWrapper class="right-sidebar-width h-100 bw2 bl b--yellow"
      @direction="right"
      @onCloseSidebar={{fn this.toggleSidebar false}}
    >
      <ScriptWrapper @track={{this.activeTrack}} @presets={{this.presets}}/>
    </SidebarWrapper>
  {{/if}}
</div>