<nav class="project-header-height flex justify-between items-center ph3">
  <div class="flex justify-between w-100 items-center">    
    <h1 class="ma0 f3">{{this.model.displayTitle}}</h1>
      <div class="flex">
        <IconButton @icon="fi-play" @label="play" {{action "play"}} />
        <IconButton @icon="fi-stop" @label="stop" {{action "stop"}} />
        <IconButton @icon="fi-previous" @label="reset" {{action "reset"}} />
        <div class="flex items-center ba b--dark-gray bw1">
          <NexusNumber
            @value={{this.model.bpm}} 
            @onChangeNumber={{fn this.updateProject "bpm"}}
            @min={{0}}
            @max={{500}}
            @step={{1}}
          />
          <span class="pr3">bpm</span>
        </div>
      </div>
    <ButtonPrimary class="ml3" @label={{"Add New Track"}} {{on "click" this.addTrack}}/>
  </div>
</nav>

<div class="flex project-tracks-height overflow-hidden">
  {{#if (and this.leftSidebarOpen this.activeTrack (not this.activeTrack.isDeleted))}}
    <SidebarWrapper 
      class="left-sidebar-width h-100 bw2 br b--yellow"
      @direction="left"
      @onCloseSidebar={{fn this.toggleSidebar this.activeTrack.id "left"}}
    >
      <h3 class="mt3 yellow ma3 ">Drum Machines</h3>
      <DrumFilePicker
        @track={{this.activeTrack}}
      />
    </SidebarWrapper>
  {{/if}}

  <div class="bg-dark-gray h-100 flex flex-column justify-between shrink-1 grow-1 {{if this.rightSidebarOpen "w-50"}}">
    <div class="overflow-scroll">
      {{#each this.sortedTracks key="order" as |track|}}
        {{#unless track.isMaster}}
          <TrackListItem
            @track={{track}}
            @isActive={{eq track.id this.activeTrack.id}} 
            @selectActiveTrack={{fn this.transitionToTrack track.id}}
            @onToggleFilePicker={{fn this.toggleSidebar track.id "left"}}
            @onToggleScripts={{fn this.toggleSidebar track.id "right"}}
            @rightSidebarOpen={{this.rightSidebarOpen}} 
          />
        {{/unless}}
        {{#if track.isMaster}}
          <TrackListItem
            @track={{track}}
            @isActive={{eq track.id this.activeTrack.id}} 
            @selectActiveTrack={{fn this.transitionToTrack track.id}}
            @onToggleScripts={{fn this.toggleSidebar track.id "right"}}
            @rightSidebarOpen={{this.rightSidebarOpen}} 
          />
        {{/if}}
      {{/each}}
    </div>
    {{outlet}}
  </div>
  {{#if (and this.rightSidebarOpen this.activeTrack (not this.activeTrack.isDeleted))}}
    <SidebarWrapper class="right-sidebar-width h-100 bw2 bl b--yellow"
      @direction="right"
      @onCloseSidebar={{fn this.toggleSidebar this.activeTrack.id "right"}}
    >
      <div class="mh3 yellow relative flex flex-column">
        <h3 class="mv3">Script Editor</h3>
        <InfoBox class="absolute right-2 top-1">
          <p class="f6 mv1">Scripts are where you define the audio signal chain for each track.</p>
          <p class="f6 mv1">Setup Script runs once to create your audio signal chain.</p>
          <p class="f6 mv1">Automate Script runs on every step of the sequencer. This is where you trigger sound and modulate parameters.</p>
        </InfoBox>
      </div>
      <ScriptWrapper @track={{this.activeTrack}} @presets={{this.presets}}/>
    </SidebarWrapper>
  {{/if}}
</div>