{{!-- 
  this template for the /track/:id route is rendered as the footer for the currently selected track
 --}}
<div class="w-100 bt bw1">
  {{#unless @model.isDeleted}}
    <div class="flex bg-yellow flex-wrap justify-between footer-height">
      <div class="flex">
        <ChannelStrip
          @channelStripGainControl={{this.channelStripGainControl}}
          @channelStripPannerControl={{this.channelStripPannerControl}}
          @updateValue={{fn this.updateControl}}
          @saveTrackControl={{this.saveTrackControl}}
        />
        <TabMenu
          @verticle={{true}}
          @onSelect={{fn this.setUi "controlUi"}}
          @selectedValue={{"controls"}}
          @items={{array 
            (hash label="sequence" value="sequence" icon="fi-squares" iconWidth="2rem" iconHeight="4rem")
            (hash label="controls" value="controls" icon="automation" iconWidth="4rem" iconHeight="4rem")
            (hash label="scripts" value="scripts" icon="fi-code" iconWidth="2rem" iconHeight="4rem")
          }}
        />

        {{#if (eq this.controlUi "sequence")}}
          <div class="flex flex-column mh3 pv3">
            <TrackControlWrapper
              @hideConfig={{true}}
              @hideInterfaceMenu={{true}}
            >
              <NexusSlider 
                @value={{@model.hits}} 
                @onChangeValue={{perform @model.updateTrackTask "hits"}} 
                @min={{0}}
                @max={{this.maxSteps}}
                @step={{1}}
                @size={{array 300 20}}
              >
                <span class="f7 fw5">hits:</span>
                <span class="f7">{{@model.hits}}</span>
              </NexusSlider>
            </TrackControlWrapper>

            <TrackControlWrapper
              @hideConfig={{true}}
              @hideInterfaceMenu={{true}}
            >
              <NexusSlider 
                @value={{@model.steps}} 
                @onChangeValue={{perform @model.updateTrackTask "steps"}} 
                @min={{0}}
                @max={{this.maxSteps}}
                @step={{1}}
                @size={{array 300 20}}
              >
                <span class="f7 fw5">steps:</span>
                <span class="f7">{{@model.steps}}</span>
              </NexusSlider>
            </TrackControlWrapper>

            <TrackControlWrapper
              @hideConfig={{true}}
              @hideInterfaceMenu={{true}}
            >
              <NexusSlider 
                @value={{@model.offset}} 
                @onChangeValue={{perform @model.updateTrackTask "offset"}} 
                @min={{0}}
                @max={{this.maxSteps}}
                @step={{1}}
                @size={{array 300 20}}
              >
                <span class="f7 fw5">offset:</span>
                <span class="f7">{{@model.offset}}</span>
              </NexusSlider> 
            </TrackControlWrapper> 
          </div>
        {{/if}}
      </div>
      {{#if (eq this.controlUi "controls")}}
        <div class="flex flex-column grow-1 pv3">
          <TabMenu
            class="ph3 mb3"
            @onSelect={{fn this.setUi "visibleNodeIdx"}}
            @items={{this.trackNodesTabs}}
            @selectedValue={{this.visibleNodeIdx}}
          />
          <div>
            {{#each this.trackNodesForControls as |trackNode idx|}}
              {{#if (eq this.visibleNodeIdx idx)}}
                <div class="flex flex-wrap tc mh3">
                  {{#each trackNode.trackControls as |trackControl|}}
                    <TrackControlWrapper 
                      @sequence={{@model.sequence}}
                      @trackControl={{trackControl}}
                      @saveTrackControl={{this.saveTrackControl}}
                    >
                      {{component 
                        (concat "nexus-" trackControl.interfaceName)
                        value=trackControl.controlValue
                        values=trackControl.controlArrayComputed
                        min=trackControl.min
                        max=trackControl.max
                        defaultValue=trackControl.defaultValue
                        onChangeValue=(fn this.updateControl trackControl)
                      }}
                    </TrackControlWrapper>
                  {{/each}}
                </div>
              {{/if}}
            {{/each}}
          </div>
        </div>
      {{/if}}

      {{#if (eq this.controlUi "scripts")}}
        <div class="flex flex-column grow-1 mh3 pv3 relative">
          <div>
            <button {{on "click" (fn this.setUi "scriptUi" "init")}}>init</button>
            <button {{on "click" (fn this.setUi "scriptUi" "onstep")}}>step</button>
          </div>
          {{!-- 
            TODO perhaps design a symbolic UI for track nodes when in script view
            to demonstrate nodes getting added/removed
          --}}
          <div>
            {{#if (and @model.initScript (eq this.scriptUi "init"))}}
              <ScriptEditor @scriptModel={{@model.initScript}}/>
            {{/if}}

            {{#if (and @model.onstepScript (eq this.scriptUi "onstep"))}}
              <ScriptEditor @scriptModel={{@model.onstepScript}}/>
            {{/if}}
          </div>
        </div>
      {{/if}}
    </div>
  {{/unless}}

</div>

{{outlet}}