{{!-- 
  this template for the /track/:id route is rendered as the footer for the currently selected track
 --}}
<div class="w-100 bt bw1">
  {{#unless @model.isDeleted}}
    <div class="flex bg-yellow flex-wrap justify-between footer-height">
      <div class="flex">
        <TabMenu
          @verticle={{true}}
          @onSelect={{fn this.setUi "controlUi"}}
          @items={{array 
            (hash label="sequence" value="sequence" icon="")
            (hash label="controls" value="controls" icon="")
            (hash label="scripts" value="scripts" icon="")
          }}
        />

        {{#if (eq this.controlUi "sequence")}}
          <div class="flex flex-column mh3 pv3">
            <NexusSlider 
              @value={{@model.hits}} 
              @onChangeValue={{perform @model.updateTrackTask "hits"}} 
              @min={{0}}
              @max={{this.maxSteps}}
              @step={{1}}
              @size={{array 300 20}}
            >
              <span class="f7 fw5">hits:</span>
              <span class="f7">{{@model.hits}}</span>
            </NexusSlider>
            <NexusSlider 
              @value={{@model.steps}} 
              @onChangeValue={{perform @model.updateTrackTask "steps"}} 
              @min={{0}}
              @max={{this.maxSteps}}
              @step={{1}}
              @size={{array 300 20}}
            >
              <span class="f7 fw5">steps:</span>
              <span class="f7">{{@model.steps}}</span>
            </NexusSlider>
            <NexusSlider 
              @value={{@model.offset}} 
              @onChangeValue={{perform @model.updateTrackTask "offset"}} 
              @min={{0}}
              @max={{this.maxSteps}}
              @step={{1}}
              @size={{array 300 20}}
            >
              <span class="f7 fw5">offset:</span>
              <span class="f7">{{@model.offset}}</span>
            </NexusSlider>  
          </div>
        {{/if}}
      </div>
      {{#if (eq this.controlUi "controls")}}
        <div class="flex flex-column grow-1 pv3">
          <ul class="pa0 list flex">
            {{#each this.trackNodesForControls as |trackNode idx|}}
              <li>
                <a class="ph3 pv2 mh1 mw4 link {{if (eq this.visibleNodeIdx idx) 'bg-black white' 'bg-white black'}}"
                  {{on "click" (fn this.setUi "visibleNodeIdx" idx)}}
                >
                  {{trackNode.nodeType}}
                </a>
              </li>
            {{/each}}
          </ul>
          <div>
            {{#each this.trackNodesForControls as |trackNode idx|}}
              {{#if (eq this.visibleNodeIdx idx)}}
                <div class="flex flex-wrap tc mh3">
                  {{#each trackNode.trackControls as |trackControl|}}
                    <TrackControlWrapper 
                      @sequence={{@model.sequence}}
                      @trackControl={{trackControl}}
                      @saveTrackControl={{this.saveTrackControl}}
                    >
                      {{component 
                          (concat "nexus-" trackControl.interfaceName)
                          value=trackControl.controlValue
                          values=trackControl.controlArrayComputed
                          min=trackControl.min
                          max=trackControl.max
                          defaultValue=trackControl.defaultValue
                          onChangeValue=(fn this.updateControl trackControl)
                      }}
                    </TrackControlWrapper>
                  {{/each}}
                </div>
              {{/if}}
            {{/each}}
          </div>
        </div>
      {{/if}}

      {{#if (eq this.controlUi "scripts")}}
        <div class="flex flex-column grow-1 mh3 pv3">
          <div>
            <button {{on "click" (fn this.setUi "scriptUi" "init")}}>init</button>
            <button {{on "click" (fn this.setUi "scriptUi" "onstep")}}>step</button>
          </div>
          {{!-- 
            TODO perhaps design a symbolic UI for track nodes when in script view
            to demonstrate nodes getting added/removed
          --}}
          <div>
            {{#if (and @model.initScript (eq this.scriptUi "init"))}}
              <ScriptEditor @scriptModel={{@model.initScript}}/>
            {{/if}}

            {{#if (and @model.onstepScript (eq this.scriptUi "onstep"))}}
              <ScriptEditor @scriptModel={{@model.onstepScript}}/>
            {{/if}}
          </div>
        </div>
      {{/if}}
      <ChannelStrip
        @channelStripGainControl={{this.channelStripGainControl}}
        @channelStripPannerControl={{this.channelStripPannerControl}}
        @updateValue={{fn this.updateControl}}
        @saveTrackControl={{this.saveTrackControl}}
      />
    </div>
  {{/unless}}

</div>

{{outlet}}