<div class="bottom-0 absolute w-100" >
  <p class="fw6">{{this.model.id}}</p>
  <div class="flex bg-light-gray pa4">
    {{#each this.model.trackNodes as |trackNode idx|}}
      <div class="tc mh3">
        {{trackNode.nodeType}}
        {{#each trackNode.trackControls as |trackControl|}}
          <div>
            {{component (concat "nexus-" trackControl.interfaceName) onChangeValue=(action "updateControl" trackControl)}}
            <p class="tc">{{trackControl.nodeAttr}}</p>
          </div>
        {{/each}}
      </div>
    {{/each}}
  </div>
</div>

{{outlet}}