{{!-- 
  this template for the /track/:id route is rendered as the footer for the currently selected track
 --}}
{{#if @model.drumMenuOpen}}
  <DrumFilePicker
    @track={{@model}}
    @updateTrackTask={{updateTrackTask}}
  />
{{/if}}

<div class="w-100">
  {{#unless @model.isDeleted}}
    <p class="fw6">{{@model.id}}</p>
    <div class="flex flex-column bg-light-gray pa4 flex-wrap">
      <div class="flex mv3">
        <NexusDial 
          @value={{@model.hits}} 
          @onChangeValue={{perform updateTrackTask "hits"}} 
          @min={{0}}
          @max={{this.maxSteps}}
        >
          {{@model.hits}}
        </NexusDial>
        <NexusDial 
          @value={{@model.steps}} 
          @onChangeValue={{perform updateTrackTask "steps"}} 
          @min={{0}}
          @max={{this.maxSteps}}
        >
          {{@model.steps}}
        </NexusDial>
        <NexusDial 
          @value={{@model.offset}} 
          @onChangeValue={{perform updateTrackTask "offset"}} 
          @min={{0}}
          @max={{this.maxSteps}}
        >
          {{@model.offset}}
        </NexusDial>  
      </div>

      <div class="flex flex-column">

        <ul class="pa0 list flex">
          {{#each @model.trackNodes as |trackNode idx|}}
            <li>
              <a 
                class="ph3 pv2 mh1 mw4 link {{if (eq this.visibleNodeIdx idx) 'bg-black white' 'bg-white black'}}"
                {{on "click" (fn this.setUi "visibleNodeIdx" idx)}}
              >
                {{trackNode.nodeType}}
              </a>
            </li>
          {{/each}}
        </ul>

        <div>
          {{#each @model.trackNodes as |trackNode idx|}}
            {{#if (eq this.visibleNodeIdx idx)}}
              <div class="flex flex-wrap tc mh3">
                {{#each trackNode.trackControls as |trackControl|}}
                  <TrackControlWrapper 
                    @sequence={{@model.sequence}}
                    @trackControl={{trackControl}} 
                    @controlArrayValue={{trackControl.controlArrayValue}} 
                    @updateValue={{action "updateControl" trackControl}}
                    @saveTrackControl={{this.saveTrackControl}}
                  />
                {{/each}}
              </div>
            {{/if}}
          {{/each}}
        </div>
      </div>
    </div>
  {{/unless}}
  
  {{#if @model.initScript}}
    <ScriptEditor @scriptModel={{@model.initScript}}/>
  {{/if}}

  {{#if @model.onstepScript}}
    <ScriptEditor @scriptModel={{@model.onstepScript}}/>
  {{/if}}
</div>

{{outlet}}