{{!-- 
  this template for the /track/:id route is rendered as the footer for the currently selected track
 --}}
{{#if @model.drumMenuOpen}}
  <DrumFilePicker
    @track={{@model}}
    @updateTrackTask={{updateTrackTask}}
  />
{{/if}}

<div class="w-100 bt bw1">
  {{#unless @model.isDeleted}}
    <p class="fw6 mv0 ph3 pv2 bg-light-gray">TRACK: {{@model.id}}</p>
    <div class="flex bg-light-gray pa3 flex-wrap justify-between">
      <div class="flex mv3">
        <div class="flex-0 br flex flex-column h-100 f7 tc">
          <button class="bb b--black br0 h-auto grow-1 {{if (eq visibleInterface "sequence") "bg-light-blue br"}}" {{on "click" (fn this.setUi "controlUi" "sequence")}}>
            SEQUENCE
          </button>
          <button class="bb b--black br0 h-auto grow-1 {{if (eq visibleInterface "controls") "bg-light-blue br"}}" {{on "click" (fn this.setUi "controlUi" "controls")}}>
            {{!-- <img alt="Rhythm and Automation editor" src="/assets/icons/automation.svg"> --}}
            UI
          </button>
          <button class="br0 h-auto grow-1  {{if (eq visibleInterface "scripts") "bg-light-blue br"}}" {{on "click" (fn this.setUi "controlUi" "scripts")}}>
            {{!-- <img alt="Script Editor" src="/assets/icons/script.svg"> --}}
            SCRIPTS
          </button>
        </div>
        {{#if (eq this.controlUi "sequence")}}
          <div class="flex flex-column mh3">
            <NexusSlider 
              @value={{@model.hits}} 
              @onChangeValue={{perform updateTrackTask "hits"}} 
              @min={{0}}
              @max={{this.maxSteps}}
              @step={{1}}
              @size={{array 300 20}}
            >
              <span class="f7 fw5">hits:</span>
              <span class="f7">{{@model.hits}}</span>
            </NexusSlider>
            <NexusSlider 
              @value={{@model.steps}} 
              @onChangeValue={{perform updateTrackTask "steps"}} 
              @min={{0}}
              @max={{this.maxSteps}}
              @step={{1}}
              @size={{array 300 20}}
            >
              <span class="f7 fw5">steps:</span>
              <span class="f7">{{@model.steps}}</span>
            </NexusSlider>
            <NexusSlider 
              @value={{@model.offset}} 
              @onChangeValue={{perform updateTrackTask "offset"}} 
              @min={{0}}
              @max={{this.maxSteps}}
              @step={{1}}
              @size={{array 300 20}}
            >
              <span class="f7 fw5">offset:</span>
              <span class="f7">{{@model.offset}}</span>
            </NexusSlider>  
          </div>
        {{/if}}
      </div>
      {{#if (eq this.controlUi "controls")}}
        <div class="flex flex-column grow-1">
          <ul class="pa0 list flex">
            {{#each this.trackNodesForControls as |trackNode idx|}}
              <li>
                <a class="ph3 pv2 mh1 mw4 link {{if (eq this.visibleNodeIdx idx) 'bg-black white' 'bg-white black'}}"
                  {{on "click" (fn this.setUi "visibleNodeIdx" idx)}}
                >
                  {{trackNode.nodeType}}
                </a>
              </li>
            {{/each}}
          </ul>
          <div>
            {{#each this.trackNodesForControls as |trackNode idx|}}
              {{#if (eq this.visibleNodeIdx idx)}}
                <div class="flex flex-wrap tc mh3">
                  {{#each trackNode.trackControls as |trackControl|}}
                    <TrackControlWrapper 
                      @sequence={{@model.sequence}}
                      @trackControl={{trackControl}}
                      @saveTrackControl={{this.saveTrackControl}}
                    >
                      {{component 
                          (concat "nexus-" trackControl.interfaceName)
                          value=trackControl.controlValue
                          values=trackControl.controlArrayComputed
                          min=trackControl.min
                          max=trackControl.max
                          defaultValue=trackControl.defaultValue
                          onChangeValue=(fn this.updateControl trackControl)
                      }}
                    </TrackControlWrapper>
                  {{/each}}
                </div>
              {{/if}}
            {{/each}}
          </div>
        </div>
      {{/if}}

      {{#if (eq this.controlUi "scripts")}}
        <div class="flex flex-column grow-1 mh3">
          <div>
          <button {{on "click" (fn this.setUi "scriptUi" "init")}}>init</button>
          <button {{on "click" (fn this.setUi "scriptUi" "onstep")}}>step</button>
          </div>
          {{!-- 
            TODO perhaps design a symbolic UI for track nodes when in script view
            to demonstrate nodes getting added/removed
          --}}
          <div>
            {{#if (and @model.initScript (eq this.scriptUi "init"))}}
              <ScriptEditor @scriptModel={{@model.initScript}}/>
            {{/if}}

            {{#if (and @model.onstepScript (eq this.scriptUi "onstep"))}}
              <ScriptEditor @scriptModel={{@model.onstepScript}}/>
            {{/if}}
          </div>
        </div>
      {{/if}}
      <ChannelStrip 
        @channelStripGainControl={{this.channelStripGainControl}}
        @channelStripPannerControl={{this.channelStripPannerControl}}
        @updateValue={{fn this.updateControl}}
        @saveTrackControl={{this.saveTrackControl}}
      />
    </div>
  {{/unless}}

</div>

{{outlet}}