{{#if @model.drumMenuOpen}}
  <DrumFilePicker
    @track={{@model}}
    @updateTrackTask={{updateTrackTask}}
  />
{{/if}}

<div class="bottom-0 absolute w-100" >
  {{#unless @model.isDeleted}}
    <p class="fw6">{{@model.id}}</p>
    <div class="flex bg-light-gray pa4">
      {{#each @model.trackNodes as |trackNode idx|}}
        <div class="tc mh3">
          {{trackNode.nodeType}}
          {{#each trackNode.trackControls as |trackControl|}}
            <div>
              {{component 
                (concat "nexus-" trackControl.interfaceName) 
                onChangeValue=(action "updateControl" trackControl)
              }}
              <p class="tc">{{trackControl.nodeAttr}}</p>
            </div>
          {{/each}}
        </div>
      {{/each}}
      <div class="flex">
        <NexusDial @value={{@model.hits}} @onChangeValue={{perform updateTrackTask "hits"}} @min=0 @max={{16}}/>
        <NexusDial @value={{@model.steps}} @onChangeValue={{perform updateTrackTask "steps"}} @min=0 @max={{16}}/>
        <NexusDial @value={{@model.offset}} @onChangeValue={{perform updateTrackTask "offset"}} @min=0 @max={{16}}/>
      </div>
    </div>
  {{/unless}}

  <ScriptEditor @model={{@model.initScript}}/>
</div>

{{outlet}}