<NavBar @logoWidth="220px" />
<div class="mt4 center">
  {{#if this.session.isAuthenticated}}
    <div class="mw5 center">
      <p>Logged in as {{this.currentUser.user.username}}</p>
      <ButtonPrimary {{on "click" this.invalidateSession}}>
        Logout
      </ButtonPrimary>
    </div>
  {{else}}
    <form class="mw5 center" {{action "authenticate" on="submit"}}>
      {{#if this.loginView}}
        <fieldset class="mb4">
          <legend>Login</legend>
          <div class="mb3">
            <label class="db" for="username">
              Username
            </label>
            {{input class="w-100" id="username" autocomplete="username" placeholder="Enter Username" value=this.username}}
          </div>
          <div class="mb3">
            <label class="db" for="password">
              Password
            </label>
            {{input class="w-100"
                id="password"
                placeholder="Enter Password"
                type="password"
                value=this.password
                autocomplete="current-password"
              }}
          </div>
          <div class="flex items-center">
            <ButtonPrimary type="submit">
              Login
            </ButtonPrimary>
            <span class="mh2">or</span>
            <button class="pointer" type="button" {{on "click" this.toggleView}}>{{this.toggleViewTxt}}</button>
          </div>
          {{#if this.errorMessage}}
          <p>
            {{this.errorMessage}}
          </p>
          {{/if}}
        </fieldset>
      {{else}}
        <fieldset>
          <legend>Sign up</legend>
          <div class="mb3">
            <label class="db" for="username">
              Username
            </label>
            {{input class="w-100" id="username" placeholder="Enter Username" value=this.username}}
          </div>
          <div class="mb3">
            <label class="db" for="email">
              Email
            </label>
            {{input class="w-100" id="email" autocomplete="email" placeholder="Enter Email Address" value=this.email}}
          </div>
          <div class="mb3">
            <label class="db" for="signup-password">
              Password
            </label>
            {{input class="w-100"
              id="signup-password"
              placeholder="Enter Password"
              type="password"
              value=this.password
              autocomplete="new-password"
            }}
          </div>
          <div class="flex items-center">
            <ButtonPrimary type="submit">
              Sign Up
            </ButtonPrimary>
            <span class="mh2">or</span>
            <p class="pointer" {{on "click" this.toggleView}}>{{this.toggleViewTxt}}</p>
          </div>
          {{#if this.errorMessage}}
            <p>
              {{this.errorMessage}}
            </p>
          {{/if}}
        </fieldset>
      {{/if}}
    </form>
  {{/if}}
  {{outlet}}
</div>