<form {{action "authenticate" on="submit"}}>
  <label for="identification">
    Login
  </label>
  {{input id="identification" placeholder="Enter Login" value=this.identification}}
  <label for="password">
    Password
  </label>
  {{input
    id="password"
    placeholder="Enter Password"
    type="password"
    value=this.password
  }}
  <button type="submit">
    Login
  </button>
  {{#if this.errorMessage}}
    <p>
      {{this.errorMessage}}
    </p>
  {{/if}}
</form>
{{outlet}}