<NavBar @logoWidth="280px" />
<div class="mt4 mw4 center">
  {{#if session.isAuthenticated}}
  <p>Logged in as {{session.currentUser.username}}</p>
  <button {{on "click" this.invalidateSession}}>
    Logout
  </button>
  {{else}}
  <form {{action "authenticate" on="submit"}}>
    <fieldset class="mb4">
      <legend>Login</legend>
      <label for="username">
        Email
      </label>
      {{input id="username" placeholder="Enter Login" value=this.username}}
      <label for="password">
        Password
      </label>
      {{input
          id="password"
          placeholder="Enter Password"
          type="password"
          value=this.password
          autocomplete=true
        }}
      <button type="submit">
        Login
      </button>
      {{#if this.errorMessage}}
      <p>
        {{this.errorMessage}}
      </p>
      {{/if}}
    </fieldset>
    <fieldset>
      <legend>Sign up</legend>
      <label for="signup-username">
        Email
      </label>
      {{input id="signup-username" placeholder="Enter Login" value=this.username}}
      <label for="signup-password">
        Password
      </label>
      {{input
            id="signup-password"
            placeholder="Enter Password"
            type="password"
            value=this.password
            autocomplete=true
          }}
      <button type="submit">
        Login
      </button>
      {{#if this.errorMessage}}
      <p>
        {{this.errorMessage}}
      </p>
      {{/if}}
    </fieldset>
  </form>
  {{/if}}
  {{outlet}}
</div>